<!--debut loader-->
<div ng-include="'Template/default/layouts/loading.html'"></div>
<!--fin loader-->

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-init="initEngParamOperationsTresoreries()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background-color: beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">PARAMETRE 2</h5>

                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Paramétrage des opérations</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Paramètrage des opérations de trésorerie des tiers</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header" style="background-color: #90CCC8;">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-cog text-dark icon-xl"></i>
                                </span>
                                <h3 class="card-title" style="font-size: 30px; font-family: 'Maiandra GD'">Paramétrage
                                    des opérations de trésorerie des tiers</h3>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <div ng-include="'Template/default/layouts/FormParametrageOperationsTresoreriesEngModif.html'">
                            <!--end::Form-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->