@{
ViewBag.Title = "Enregistrement tiers";
Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="TiTiersController" ng-init="initFormAddTiTiers()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background-color: beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h3 class="text-dark font-weight-bold my-1 mr-5">GESTION</h3>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Tiers</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Enregistrement</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Tiers</a>
                        </li>

                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header" style="background-color: #F5F500;">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="far fa-user icon-xl text-dark"></i>
                                </span>
                                <h3 class="card-title" style="font-size: 30px; font-family: 'Maiandra GD'">Tiers</h3>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form" id="idFormAddTiTiers">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>IDENTITE</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>Opérateur*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-tie text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addOp" ng-model="FormAddTiTiers.operateur">
                                                                <option value="">Sélectionnez un opérateur</option>
                                                                <option ng-repeat="lOperateur in listeOperateur" value="{{lOperateur.OP_CODEOPERATEUR}}">{{lOperateur.OP_NOMPRENOM}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--
                                                    <div class="col-lg-4">
                                                        <label>Numéro du Tiers</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addNumDuTiers" type="text" class="form-control datatable-input" placeholder="Entrer un numéro" data-col-index="1" ng-model="FormAddTiTiers.numDuTiers" disabled />
                                                        </div>
                                                    </div>
-->
                                                    <div class="col-lg-6">
                                                        <label>Dénomination*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addDenomination" placeholder="Entrer une dénomination" ng-model="FormAddTiTiers.denomination" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label>Siège*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-black-tie text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addSiege" type="text" class="form-control datatable-input" placeholder="Entrer un siège" data-col-index="0" ng-model="FormAddTiTiers.siege" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Description*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-marker text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addDescription" type="text" class="form-control" placeholder="Entrer une description" ng-model="FormAddTiTiers.description">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Sexe*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-restroom text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addSexe" ng-model="FormAddTiTiers.sexe">
                                                                <option value="">Sélectionnez le sexe</option>
                                                                <option ng-repeat="leSexe in listeSexes" value="{{leSexe.SX_CODESEXE}}">{{leSexe.SX_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <!--changer le nom de la propriete-->
                                                        <label>Profession*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-chalkboard-teacher text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addProfession" ng-model="FormAddTiTiers.profession">
                                                                <option value="">Sélectionnez une profession</option>
                                                                <option ng-repeat="leProfession in listeProfession" value="{{leProfession.PF_CODEPROFESSION}}">{{leProfession.PF_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Type du tiers*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-user text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addTypeTiers" ng-model="FormAddTiTiers.typeDuTiers">
                                                                <option value="">Sélectionnez le type du tiers</option>
                                                                <option ng-repeat="leTypeTiers in listeTypeDesTiers" value="{{leTypeTiers.TP_CODETYPETIERS}}">{{leTypeTiers.TP_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Date de naissance*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idDateNaissance" name="addDateNaissance" type="text" class="form-control datatable-input" placeholder="Entrer une date" ng-model="FormAddTiTiers.dateDeNaissance" maxlength="10">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Nature tiers*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-question-circle text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addNatureTiers" ng-model="FormAddTiTiers.natureTiers">
                                                                <option value="">Sélectionner une nature</option>
                                                                <option ng-repeat="laNatureTiers in listeNatureTiers" value="{{laNatureTiers.NT_CODENATURETIERS}}">{{laNatureTiers.NT_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>TVA*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-percent text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addTva" ng-model="FormAddTiTiers.tva">
                                                                <option value="">Sélectionnez une TVA</option>
                                                                <option ng-repeat="laTVA in listeTVA" value="{{laTVA.TI_TVA}}">{{laTVA.TI_TVALIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>ASDI*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-chart-bar text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addAsdi" ng-model="FormAddTiTiers.asdi">
                                                                <option value="">Sélectionnez un ASDI</option>
                                                                <option ng-repeat="lASDI in listeASDI" value="{{lASDI.TI_ASDI}}">{{lASDI.TI_ASDILIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Plafond crédit*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class=" flaticon flaticon2-chart text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addPlafond" type="text" class="form-control datatable-input" placeholder="Entrer un plafond crédit" data-col-index="0" ng-model="FormAddTiTiers.plafondCredit" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Type compte add*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-suitcase text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addTypeCompte" ng-model="FormAddTiTiers.typeCompteAdd">
                                                                <option value="">Sélectionnez un type compte add</option>
                                                                <option ng-repeat="leTypeCmpteAdd in listeTypeCompteAdd" value="{{leTypeCmpteAdd.TC_CODECOMPTETYPETIERS}}">{{leTypeCmpteAdd.TC_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>N° compte*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addNumCompte" type="text" class="form-control datatable-input" placeholder="Entrer un numéro de compte" ng-model="FormAddTiTiers.numCompte">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>N° compte contribuable*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addNumCc" type="text" class="form-control datatable-input" placeholder="Entrer un numéro CC" ng-model="FormAddTiTiers.numCc">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Gérant*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="flaticon2-user-outline-symbol text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addGerant" type="text" class="form-control datatable-input" placeholder="Entrer un nom" data-col-index="4" ng-model="FormAddTiTiers.gerant" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Secteur d'activité*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="flaticon2-shelter text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addSecteurAct" ng-model="FormAddTiTiers.secteurDactivite">
                                                                <option value="">Sélectionnez un secteur d'activité</option>
                                                                <option ng-repeat="leSecteurActivite in listeSecteurDActivite" value="{{leSecteurActivite.AC_CODEACTIVITE}}">{{leSecteurActivite.AC_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Cas d'utilisation*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-receipt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addCasUtil" ng-model="FormAddTiTiers.casDutilisation">
                                                                <option value="">Sélectionnez un cas d'utilisation</option>
                                                                <option ng-repeat="leCasUtil in listeCasDUtilisation" value="{{leCasUtil.CU_CODECASUTILISATION}}">{{leCasUtil.CU_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>N° Agrement*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addNumAgrement" type="text" class="form-control datatable-input" placeholder="Entrer un numéro numéro agrement" ng-model="FormAddTiTiers.numAgremant">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Régime d'imposition*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-clipboard-check text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addRegime" ng-model="FormAddTiTiers.regimeDimposition">
                                                                <option value="">Sélectionnez un régime d'imposition</option>
                                                                <option ng-repeat="leRegime in listeRegimeDImposition" value="{{leRegime.RE_CODEREGIMEIMPOSITION}}">{{leRegime.RE_LIBELLEREGIMEIMPOSITION}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Spécialité*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-certificate text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addSpecialite" ng-model="FormAddTiTiers.specialite">
                                                                <option value="">Sélectionnez une spécialité</option>
                                                                <option ng-repeat="laSpecialite in listeSpecialite" value="{{laSpecialite.SP_CODESPECIALITE}}">{{laSpecialite.SP_LIBELLESPECIALITE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label>Pays*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-globe-africa text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select id="idPays" class="form-control" name="addPays" ng-model="FormAddTiTiers.pays">
                                                                <option value="">Sélectionner un pays</option>
                                                                <option ng-repeat="lePays in listeDesPays" value="{{lePays.PY_CODEPAYS}}">{{lePays.PY_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Ville*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-marker-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addVille" ng-model="FormAddTiTiers.ville">
                                                                <option value="">Sélectionner une ville</option>
                                                                <option ng-repeat="laVille in listeDesVilles" value="{{laVille.VL_CODEVILLE}}">{{laVille.VL_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Groupe des tiers*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-users text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addGroupeTiers" ng-model="FormAddTiTiers.groupeDesTiers">
                                                                <option value="">Sélectionner un groupe</option>
                                                                <option ng-repeat="leGrpeTiers in listeGroupeDesTiers" value="{{leGrpeTiers.GP_CODEGROUPE}}">{{leGrpeTiers.GP_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Escompte*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-tag text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addEscompte" ng-model="FormAddTiTiers.autorisationDescompte">
                                                                <option value="">Sélectionner un escompte</option>
                                                                <option ng-repeat="lEscompte in listeEscompte" value="{{lEscompte.TI_ESCOMPTE}}">{{lEscompte.TI_ESCOMPTELIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-6" style="position: relative; left: 350px;">
                                                        <div class="image-input image-input-outline" id="kt_user_edit_avatar">
                                                            <div class="image-input-wrapper-image" style="background-image: url(/Content/assets/media/illustr3.jpg)"></div>
                                                            <div class="image-input-wrapper-image" style="position: absolute; top: 0; left: 0"><img ng-src="{{avatar}}" style="object-position: cover;" width="100%" height="100%" /></div>
                                                            <label class="btn btn-xs btn-icon btn-circle btn-info btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Nouvelle photo">
                                                                <i class="fa fa-pen icon-sm text-white"></i>
                                                                <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" img-profile="FormAddTiTiers.img_avatar" onchange="angular.element(this).scope().previewPhoto(event)" />
                                                                <input type="hidden" name="profile_avatar_remove" />
                                                            </label>
                                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Retirer la photo">
                                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="image-input image-input-outline" id="kt_user_edit_avatar_1">
                                                            <div class="image-input-wrapper-image" style="background-image: url(/Content/assets/media/illustr4.jpg)"></div>
                                                            <div class="image-input-wrapper-image" style="position: absolute; top: 0; left: 0"><img ng-src="{{signature}}" style="object-position: cover;" width="100%" height="100%" /></div>
                                                            <label class="btn btn-xs btn-icon btn-circle btn-info btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Nouvelle signature">
                                                                <i class="fa fa-pen icon-sm text-white"></i>
                                                                <input type="file" name="img_Signature" accept=".png, .jpg, .jpeg" img-signature="FormAddTiTiers.img_signature" onchange="angular.element(this).scope().previewSignature(event)" />
                                                                <input type="hidden" name="profile_avatar_remove" />
                                                            </label>
                                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>ADRESSE ET CONTACT</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Téléphone*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-phone-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idTelephone" type="text" class="form-control" name="addTelephone" placeholder="Entrer un numéro" ng-model="FormAddTiTiers.telephone" maxlength="10">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Site web*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-globe text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addSiteWeb" placeholder="Entrer un site web" ng-model="FormAddTiTiers.siteWeb">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Fax*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-tty text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idFax" type="text" class="form-control" name="addFax" placeholder="Entrer un fax" ng-model="FormAddTiTiers.fax" maxlength="10">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Email*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="flaticon2-email text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input name="addEmail" type="text" class="form-control datatable-input" placeholder="Entrer une adresse email valide" ng-model="FormAddTiTiers.email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Adresse postale*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-envelope-open text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addAdressePostal" placeholder="Entrer une adresse postale" ng-model="FormAddTiTiers.adressePostale" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Localisation*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addLocalisation" placeholder="Entrer une localisation" ng-model="FormAddTiTiers.localisation" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-shadow-hover font-weight-bold" ng-click="ajoutFormAddTiers()">
                                    <span>
                                        <i class="far fa-check-circle"></i>
                                        <span>Enregistrer</span>
                                    </span>
                                </button>
                                <button type="submit" class="btn btn-light-success font-weight-bold">
                                    <span>
                                        <i class="fas fa-undo"></i>
                                        <span>Réinitialiser</span>
                                    </span>
                                </button>
                                <a href="Tiers" class="btn btn-icon btn-light-dark mr-2" data-toggle="tooltip" data-theme="dark" title="Retour" style="position: absolute; right: 27px">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Code example-->
</div>
<!--end::Form-->
