@{
    ViewBag.Title = "Document Chèque";
    Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}
@{
    ViewBag.Title = "Opération Ouverture du dossier";
    Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="ChequeController" ng-init="initFormListCheque()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background: Beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">ASSURANCE</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Opération</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Document</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted"></a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::ajouter-->
            <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Ajouter une image" data-placement="left">
                <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-success svg-icon-2x">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                </a>
            </div>
            <!--end::ajouter-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Notice-->
            <!-- <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
                <div class="alert-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path
                                    d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z"
                                    fill="#000000" opacity="0.3" />
                                <path
                                    d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z"
                                    fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg>
                    </span>
                </div>
                <div class="alert-text">
                    This example is almost identical to text based individual column example and provides the same
                    functionality. With server-side processing enabled, all paging, searching, ordering actions that
                    DataTables performs are handed off to a server where an SQL engine (or similar) can perform these
                    actions on the large data set. See official documentation
                    <a class="font-weight-bold" href="https://datatables.net/examples/api/multi_filter_select.html"
                        target="_blank">here</a>.
                </div>
            </div> -->
            <!--end::Notice-->
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header" style="background-color: #718E3E;">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="fas fa-book text-white icon-xl"></i>
                        </span>
                        <h3 class="card-title text-white" style="font-size: 30px; font-family: Maiandra GD">Document</h3>
                    </div>

                    <div style="margin-top:25px">
                        <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="modal" data-target="#modalVoirPlus" ng-click="">
                            <i class="fas fa-book text-white icon-xl"></i>
                        </button>
                        @*<span class="card-icon">
                            <i class="fas fa-book text-white icon-xl"></i>
                        </span>*@
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-lg-4">
                            <!--begin::Card-->
                            <div class="card card-custom overlay">
                                <div class="card-body p-0">
                                    <div class="overlay-wrapper">
                                        
                                    </div>
                                    <div class="overlay-layer">
                                        <input ng-click="testPhoto()" type="file" class="btn font-weight-bold btn-light-primary btn-shadow ml-2" placeholder="Purchase" />
                                    </div>
                                </div>
                            </div>
                            <!--end::Card-->
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>


    <!--end::Entry-->
    <div class="modal fade" id="modalVoirPlus" tabindex="-1" role="dialog" aria-labelledby="modalVoirPlus" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalVoirPlus" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-book text-white icon-xl"></i>
                        Ajout de fichier
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body" style="height: 180px;">
                        <div class="text-center">
                            <form class="kt-form" id="kt_form_Doc" enctype="multipart/form-data">
                                <div class="kt-wizard-v1__form ">
                                    <div  class="row alert alert alert-outline-info" role="alert" style="text-align: left;">
                                        <div class="col-12 text-right"><!--<a href="" ng-click="deleteSTDocUpdate($index)" class="text-danger"><i class="flaticon2-trash"></i></a>--></div>
                                        <div class="form-group col-lg-6">
                                            <label for="">Télécharger le fichier</label>
                                            <input  type="file" class="form-control"  required>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="">Nommer le fichier</label>
                                            <input type="text" name="nomFile" maxlength="150" class="form-control"  placeholder="Nom du fichier" required>
                                        </div>
                                    </div>
                               
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-success">Enregistrer</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!--end modal-->
    <!--begin modal pour suppression-->
    <div class="modal fade" id="modalSupprimer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalSupprimer" aria-hidden="true">
        <div class="modal-dialog modal-xs modal-dialog-top" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalSupprimer" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ban text-white"></i>
                        Contrat
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center; font-size: 17px;">
                    Etes-vous sûr de vouloir supprimer ce contrat ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-shadow font-weight-bold" id="kt_reset" ng-click="supprimerCheque()" data-dismiss="modal">
                        <span>
                            <i class="fas fa-ban"></i>
                            <span>Supprimer</span>
                        </span>
                    </button>
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Annuler</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
    <!--end::Entry-->
    <!--end::Content-->
