@{
ViewBag.Title = "Opération Transmission du dossier";
Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}


<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background: beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">ASSURANCE</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Opération</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Enregistrement</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Transmission du dossier</a>
                        </li>

                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->

            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header" style="background-color: #718E3E;">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-file-import text-white icon-xl"></i>
                                </span>
                                <h3 class="card-title text-white" style="font-size: 30px; font-family: Maiandra GD">Transmission du dossier</h3>
                            </div>
                            <!--<div class="card-toolbar">
                                <div class="example-tools justify-content-center">
                                    <span class="example-toggle text-white" data-toggle="tooltip" title=" Voir code"></span>
                                    <span class="example-copy text-white" data-toggle="tooltip" title="Copier code"></span>
                                </div>
                            </div>-->
                        </div>
                        <!--begin::Form-->
                        <form class="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><strong>INFORMATIONS DU SINISTRE</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>N° sinistre*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url" placeholder="Entrer le code du sinistre" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir le code du sinistre.</span>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Date*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-calendar text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url" placeholder="Entrer une date" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir la date.</span>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Heure*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-clock text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="time" class="form-control" name="url" placeholder="Entrer une heure" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir l'heure.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label>Nature du sinistre*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-question-circle text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option">
                                                                <option value="">Sélectionner nature sinistre</option>
                                                                <option>nature 1</option>
                                                                <option>nature 2</option>
                                                                <option>nature 3</option>
                                                                <option>nature 4</option>
                                                                <option>nature 5</option>
                                                            </select>
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir le code du sinistre.</span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Montant préjudice*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-money-bill text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url" placeholder="Entrer le montant préjudice" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir le montant préjudice.</span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Pays*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-globe-africa text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option">
                                                                <option value="">Sélectionner un pays</option>
                                                                <option>pays 1</option>
                                                                <option>pays 2</option>
                                                                <option>pays 3</option>
                                                                <option>pays 4</option>
                                                                <option>pays 5</option>
                                                            </select>
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir le pays.</span>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Ville*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-marker-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option">
                                                                <option value="">Sélectionner une ville</option>
                                                                <option>ville 1</option>
                                                                <option>ville 2</option>
                                                                <option>ville 3</option>
                                                                <option>ville 4</option>
                                                                <option>ville 5</option>
                                                            </select>
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir la ville.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Commune*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-pin text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option">
                                                                <option value="">Sélectionner la commune</option>
                                                                <option>commune 1</option>
                                                                <option>commune 2</option>
                                                                <option>commune 3</option>
                                                                <option>commune 4</option>
                                                                <option>commune 5</option>
                                                            </select>
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir la commune.</span>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Adresse géographique*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url" placeholder="Entrer une adresse géographique" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir l'adresse géograpgique.</span>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Expert nommé*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-tie text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option">
                                                                <option value="">Sélectionner un expert nommé</option>
                                                                <option>expert nommé 1</option>
                                                                <option>expert nommé 2</option>
                                                                <option>expert nommé 3</option>
                                                                <option>expert nommé 4</option>
                                                                <option>expert nommé 5</option>
                                                            </select>
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir l'expert nommé.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-12">
                                                        <label>Description du sinistre*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-marker text-info"></i>
                                                                </span>
                                                            </div>
                                                            <textarea class="form-control" placeholder="Entrer une dénomination"></textarea>
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir la dénomination.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-12">
                                                        <label>Document transmis*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-file-export text-info"></i>
                                                                </span>
                                                            </div>
                                                            <textarea class="form-control" placeholder="Entrer un document transmis"></textarea>
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir le document transmis.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-shadow-hover font-weight-bold">
                                    <span>
                                        <i class="far fa-check-circle"></i>
                                        <span>Enregistrer</span>
                                    </span>
                                </button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
