<!--début loader-->
<div ng-include="'Template/default/layouts/loading.html'"></div>
<!--fin loader-->

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-init="initFormListeVentes()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background: Beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">GESTION</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Trésorerie</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Liste</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Ventes</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header" style="background-color: #F5F500">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-list-alt text-dark icon-xl"></i>
                                </span>
                                <h3 class="card-title" style="font-size: 30px; font-family: 'Maiandra GD'">Ventes</h3>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Période*</label>
                                                        <div class="input-daterange input-group">
                                                            <input id="idPeriodeDu" type="text"
                                                                class="form-control datatable-input" name="start"
                                                                placeholder="Du" ng-model="FormListVentes.periodeDu"
                                                                ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-arrows-alt-h text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idPeriodeAu" type="text"
                                                                class="form-control datatable-input" name="end"
                                                                placeholder="Au" ng-model="FormListVentes.periodeAu"
                                                                ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>N° bordereau*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idNumBord" type="text" class="form-control"
                                                                name="url" placeholder="Entrer un n°"
                                                                ng-model="FormListVentes.numBordereau"
                                                                ng-pattern="/^[0-9]+$/" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Type client*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option"
                                                                ng-model="FormListVentes.typeClient">
                                                                <option value="">Sélectionner un type client</option>
                                                                <option ng-repeat="leTypeDuClient in listeTypeClient"
                                                                    value="{{leTypeDuClient.NT_CODENATURETIERS}}">
                                                                    {{leTypeDuClient.NT_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Groupe*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-users text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option"
                                                                ng-model="FormListVentes.groupe">
                                                                <option value="">Sélectionner un groupe</option>
                                                                <option>Groupe 1</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>N° client*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idNumClient" type="text" class="form-control"
                                                                name="url" placeholder="Entrer un n° client"
                                                                ng-model="FormListVentes.numClient"
                                                                ng-pattern="/^[0-9]+$/" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Nom client*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-address-card text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url"
                                                                placeholder="Entrer un nom client"
                                                                ng-model="FormListVentes.nomClient" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>N° commercial*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idNumComm" type="text" class="form-control"
                                                                name="url" placeholder="Entrer un n° commercial"
                                                                ng-model="FormListVentes.numComm"
                                                                ng-pattern="/^[0-9]+$/" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Nom commercial*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-address-card text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url"
                                                                placeholder="Entrer un nom commercial"
                                                                ng-model="FormListVentes.nomComm" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Nature article*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-shopify text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select id="idNatArticle" class="form-control" name="option"
                                                                ng-model="FormListVentes.natArticle">
                                                                <option value="" ng-click="viderComboArticle(1)">
                                                                    Sélectionner une nature</option>
                                                                <option
                                                                    ng-click="afficheListeTypeArticle(FormListVentes.natArticle)"
                                                                    ng-repeat="laNatureArt in listeNatureArticle"
                                                                    value="{{laNatureArt.NT_CODENATURETYPEARTICLE}}">
                                                                    {{laNatureArt.NT_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Type article*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-shopify text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select id="idTypeArticle" class="form-control"
                                                                name="option" ng-model="FormListVentes.typeArticle">
                                                                <option value="" ng-click="viderComboArticle(2)">
                                                                    Sélectionner un type</option>
                                                                <option
                                                                    ng-click="afficheListeArticle(FormListVentes.typeArticle)"
                                                                    ng-repeat="leType in listeTypeArticle"
                                                                    value="{{leType.TA_CODETYPEARTICLE}}">
                                                                    {{leType.TA_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Article*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-shopify text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select id="idArticle" class="form-control" name="option"
                                                                ng-model="FormListVentes.article">
                                                                <option value="">Sélectionner un article</option>
                                                                <option ng-repeat="lArticle in listeArticle"
                                                                    value="{{lArticle.AR_CODEARTICLE}}">
                                                                    {{lArticle.AR_NOMCOMMERCIALE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Opérateur*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-teamspeak text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="option"
                                                                ng-model="FormListVentes.operateur">
                                                                <option value="">Sélectionner un opérateur</option>
                                                                <option ng-repeat="lOperateur in listeOperateur"
                                                                    value="{{lOperateur.OP_CODEOPERATEUR}}">
                                                                    {{lOperateur.OP_NOMPRENOM}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-8">
                                    <div class="col-lg-12">
                                        <button class="btn btn-primary btn-primary--icon" id="kt_search" ng-click="afficheListeVente(
                                            FormListVentes.periodeDu, FormListVentes.periodeAu, FormListVentes.numBordereau,
                                            FormListVentes.typeClient, FormListVentes.groupe,
                                            FormListVentes.numClient, FormListVentes.nomClient, FormListVentes.numComm,
                                            FormListVentes.nomComm, FormListVentes.natArticle, FormListVentes.typeArticle,
                                            FormListVentes.article, FormListVentes.operateur)">
                                            <span>
                                                <i class="la la-search"></i>
                                                <span>Rechercher</span>
                                            </span>
                                        </button>&#160;
                                        <button type="button" class="btn btn-outline-warning" id="kt_reset"
                                            ng-click="listeAnnuler()">
                                            <span>
                                                <i class="la la-close"></i>
                                                <span>Annuler</span>
                                            </span>
                                        </button>
                                    </div>
                                </div><br />
                                <div class="mb-1">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table table-bordered table-checkable" id="kt_datatable">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th>N° BORDEREAU</th>
                                                        <th>DATE</th>
                                                        <th>N° CLIENT</th>
                                                        <th>NOM CLIENT</th>
                                                        <th>N° COMMERCIAL</th>
                                                        <th>NOM COMMERCIAL</th>
                                                        <th>MONTANT FACTURE</th>
                                                        <th>MONTANT VERSE</th>
                                                        <th>ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tfoot ng-show="listeVentes[0].clsObjetRetour.SL_RESULTAT !== 'FALSE'">
                                                    <tr ng-repeat="laListeVtes in listeVentes">
                                                        <td>{{laListeVtes.NUMEROBORDEREAU}}</td>
                                                        <td>{{laListeVtes.MS_DATEPIECE}}</td>
                                                        <td>{{laListeVtes.CL_NUMCLIENT}}</td>
                                                        <td>{{laListeVtes.TI_DENOMINATION}}</td>
                                                        <td>{{laListeVtes.CO_NUMCOMMERCIAL}}</td>
                                                        <td>{{laListeVtes.MV_NOMTIERS}}</td>
                                                        <td>{{laListeVtes.MONTANTFACTUREINITIALTTC}}</td>
                                                        <td>{{laListeVtes.MS_MONTANTVERSE}}</td>
                                                        <td>
                                                            <div class="example-preview"
                                                                style="position: relative; right: -3px">
                                                                <div class="btn-toolbar" role="toolbar"
                                                                    aria-label="...">
                                                                    <div class="btn-group mr-2" role="group"
                                                                        aria-label="...">
                                                                        <!--bouton voir plus-->
                                                                        <button type="button"
                                                                            class="btn btn-outline-secondary btn-icon"
                                                                            data-toggle="modal"
                                                                            data-target="#modalVoirPlus"
                                                                            ng-click="voirPlus(laListeVtes)">
                                                                            <i class="far fa-eye" data-toggle="tooltip"
                                                                                data-theme="dark" title="Voir plus"></i>
                                                                        </button>
                                                                        <!--bouton modifier-->
                                                                        <button type="button"
                                                                            class="btn btn-outline-secondary btn-icon">
                                                                            <i class="far fa-edit"></i>
                                                                        </button>
                                                                        <!--bouton supprimer ng-click="supprRecupererIdElement(laListeVtes.MS_NUMPIECE)"-->
                                                                        <button type="button"
                                                                            class="btn btn-outline-secondary btn-icon"
                                                                            data-toggle="modal" data-target="">
                                                                            <i class="fas fa-ban"></i>
                                                                        </button>
                                                                        <!-- ng-click="autreOption(laListeOperation, laListeOperation.CA_CODECONTRAT)" -->
                                                                        <button type="button" title="Autres options"
                                                                            class="btn btn-outline-secondary btn-icon dropleft"
                                                                            data-toggle="modal"
                                                                            data-target="#modalOption">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">

            </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card-->
    </div>
</div>
</div>
<!--end::Container-->
</div>
<!--end::Entry-->
</div>
<!--end::Content-->



<!--begin modal pour autres options-->
<div class="modal fade" id="modalVoirPlus" tabindex="-1" role="dialog" aria-labelledby="modalVoirPlus"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F5F500;">
                <h5 class="modal-title text-dark" id="modalVoirPlus" style="font-size: 23px; font-family: Maiandra GD">
                    <i class="far fa-eye text-dark"></i>
                    Plus d'informations
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close text-dark"></i>
                </button>
            </div>
            <div class="modal-body" style="height: 300px;">
                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">N° BORDEREAU</strong> :
                        {{recuperer.NUMEROBORDEREAU}} <br>
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">DATE</strong> :
                        {{recuperer.MS_DATEPIECE}} <br>
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">N° CLIENT</strong> :
                        {{recuperer.CL_NUMCLIENT}} <br>
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">NOM CLIENT</strong> :
                        {{recuperer.TI_DENOMINATION}} <br>
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">N° COMMERCIAL</strong> :
                        {{recuperer.CO_NUMCOMMERCIAL}} <br>
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">NOM COMMERCIAL</strong> :
                        {{recuperer.MV_NOMTIERS}} <br>
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">MONTANT FACTURE</strong> :
                        {{recuperer.MONTANTFACTUREINITIALTTC}} <br>
                        <strong style="font-size: 13px; font-family: 'Maiandra GD'">MONTANT VERSE</strong> :
                        {{recuperer.MS_MONTANTVERSE}}
                    </div>
                </div>&#160;&#160;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                    <span>
                        <i class="la la-close"></i>
                        <span>Fermer</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->

<!--begin modal pour suppression-->
<div class="modal fade" id="modalSupprimer" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="modalSupprimer" aria-hidden="true">
    <div class="modal-dialog modal-xs modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F5F500;">
                <h5 class="modal-title text-dark" id="modalSupprimer" style="font-size: 23px; font-family: Maiandra GD">
                    <i class="fas fa-ban text-dark"></i>
                    Ventes
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close text-dark"></i>
                </button>
            </div>
            <div class="modal-body" style="text-align: center; font-size: 17px;">
                Etes-vous sûr de vouloir annuler cette facture ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-shadow font-weight-bold" id="kt_reset" ng-click="supprimeContrat()"
                    data-dismiss="modal">
                    <span>
                        <i class="fas fa-ban"></i>
                        <span>Supprimer</span>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                    <span>
                        <i class="la la-close"></i>
                        <span>Annuler</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->

<!--begin modal pour autres options-->
<div class="modal fade" id="modalOption" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="modalOption" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F5F500;">
                <h5 class="modal-title text-dark" id="modalOption" style="font-size: 23px; font-family: Maiandra GD">
                    <i class="fas fa-ellipsis-v text-dark"></i>
                    Autres options
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close text-dark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom gutter-b">
                    <div class="card-header card-header-tabs-line">
                        <div class="card-toolbar">
                            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                                <li class="nav-item">
                                    <a class="nav-link active" ng-click="redirectConsultationQuestionnaire()"
                                        data-dismiss="modal" style="cursor: pointer">
                                        <span class="nav-icon"><i class="fab fa-weixin"></i></span>
                                        <span class="nav-text">Réaliser une vente sans accéssoire</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <span class="nav-icon"><i class="fas fa-file-excel"></i></span>
                                        <span class="nav-text">Réaliser une vente sans accéssoire (clinique
                                            officiel)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <span class="nav-icon"><i class="fas fa-handshake-slash"></i></span>
                                        <span class="nav-text">Facture</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectSaisieEcheancier()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-pen-alt"></i></span>
                                        <span class="nav-text">Facture optionnelle</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectConsultReglement()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-id-card"></i></span>
                                        <span class="nav-text">Règlement de facture</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Situation des règlements</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Facture d'avoir</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Ticket</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Annulation vente</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Retours de marchandise</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Modification de facture</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Livraison</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Relevé de livraison</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Bon de livraison</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Echéancier</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Historique de changement de chambre</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Liste des repartitions</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="redirectReleveCommission()" data-dismiss="modal"
                                        style="cursor: pointer">
                                        <span class="nav-icon"><i class="fas fa-file-invoice"></i></span>
                                        <span class="nav-text">Rattacher une consultation</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                    <span>
                        <i class="la la-close"></i>
                        <span>Fermer</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->