<!--debut loader-->
<div ng-include="'Template/default/layouts/loading.html'"></div>
<!--fin loader-->
<form class="form" ng-init="contrainteFormAddGESA()">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE
                            SOUSCRIPTEUR</strong></h3>
                    <div class="mb-2">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>N° souscripteur*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idNumSouscripteur" type="text" maxlength="8" class="form-control"
                                        name="addGESA_Code01" placeholder="Entrer un code" ng-model="FormAddGESA.code1"
                                        ng-disabled="verrouiller1" />
                                    <div class="input-group-append" data-toggle="tooltip" data-theme="dark"
                                        title="Choix du code">
                                        <button ng-show="etatForm !== '2'" type="button"
                                            class="btn btn-secondary btn-secondary--icon" id="kt_reset"
                                            data-toggle="modal" data-target="#modalCodeSouscripteur"
                                            ng-click="afficheListeTiersSouscripteur()">
                                            <i class="fas fa-ellipsis-h text-info"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Dénomination*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-alt text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idDenomination1" type="text" class="form-control"
                                        name="addGESA_Dénomination01" maxlength="150"
                                        placeholder="Entrer une Dénomination" ng-model="FormAddGESA.denomination1"
                                        ng-disabled="verrouiller1" />
                                    <div class="input-group-append" data-toggle="tooltip" data-theme="dark"
                                        title="Choix du code">
                                        <button ng-show="etatForm !== '2'" type="button"
                                            class="btn btn-secondary btn-secondary--icon" id="kt_reset"
                                            data-toggle="modal" data-target="#modalCodeSouscripteur"
                                            ng-click="afficheListeTiersSouscripteur()">
                                            <i class="fas fa-ellipsis-h text-info"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-dashed separator-success my-1"></div><br>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE
                            COMMERCIAL</strong></h3>
                    <div class="mb-2">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>N° commercial*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-key text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idNumCommercial" type="text" class="form-control" name="addGESA_Code02"
                                        placeholder="Entrer un code" ng-model="FormAddGESA.code2"
                                        ng-disabled="verrouiller2" maxlength="8" />
                                    <div class="input-group-append" data-toggle="tooltip" data-theme="dark"
                                        title="Choix du code">
                                        <button type="button" class="btn btn-secondary btn-secondary--icon"
                                            id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial"
                                            ng-click="afficheListeTiersCommercial()">
                                            <i class="fas fa-ellipsis-h text-info"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Dénomination*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-alt text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idDenomination2" type="text" class="form-control"
                                        name="addGESA_Dénomination02" placeholder="Entrer une Dénomination"
                                        ng-model="FormAddGESA.denomination2" ng-disabled="verrouiller2"
                                        maxlength="150" />
                                    <div class="input-group-append" data-toggle="tooltip" data-theme="dark"
                                        title="Choix du code">
                                        <button type="button" class="btn btn-secondary btn-secondary--icon"
                                            id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial"
                                            ng-click="afficheListeTiersCommercial()">
                                            <i class="fas fa-ellipsis-h text-info"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-dashed separator-success my-1"></div><br>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS GENERALES</strong>
                    </h3>
                    <div class="mb-1">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>N° police/ N.C*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fab fa-orcid text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idNumPolice" type="text" class="form-control" name="addGESA_N_Police"
                                        placeholder="Entrer un n°" ng-model="FormAddGESA.N_Police" maxlength="150" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label>Code assureur*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-tie text-info"></i>
                                        </span>
                                    </div>
                                    <input id="Codeassureur" type="text" class="form-control" name="addCodeassureur"
                                        placeholder="Entrer un Code assureur" ng-model="FormAddGESA.Codeassureur"
                                        maxlength="150"  />
                                </div>
                            </div>
                            <div class="col-lg-4" style="margin-top: 10px;">
                                <label>Pays*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-globe-africa text-info"></i>
                                        </span>
                                    </div>
                                    <select id="idPays" class="form-control" name="addGESA_Pays"
                                        ng-model="FormAddGESA.pays">
                                        <option value="">Sélectionner un pays</option>
                                        <option ng-show="etatForm !== '2'" ng-repeat="lePays in listePays"
                                            ng-selected="FormAddGESA.pays == lePays.PY_CODEPAYS"
                                            value="{{lePays.PY_CODEPAYS}}"
                                            ng-click="afficheListeVille(FormAddGESA.pays)">
                                            {{lePays.PY_LIBELLE}}</option>
                                        <option ng-show="etatForm == '2'"
                                            ng-selected="FormAddGESA.pays == lePays.PY_CODEPAYS"
                                            ng-repeat="lePays in listePays" value="{{lePays.PY_CODEPAYS}}"
                                            ng-click="afficheListeVille(FormAddGESA.pays)">
                                            {{lePays.PY_LIBELLE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4" style="margin-top: 10px;">
                                <label>Ville*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marker-alt text-info"></i>
                                        </span>
                                    </div>
                                    <select id="idVille" class="form-control" name="addGESA_Ville"
                                        ng-model="FormAddGESA.ville" ng-disabled="verouVille">
                                        <option value="">Sélectionner une ville</option>
                                        <option ng-show="etatForm !== '2'" ng-repeat="laVille in listeVillesGESA"
                                            ng-selected="FormAddGESA.ville == laVille.VL_CODEVILLE"
                                            value="{{laVille.VL_CODEVILLE}}"
                                            ng-click="afficheListeCommune(FormAddGESA.ville)">{{laVille.VL_LIBELLE}}
                                        </option>
                                        <option ng-show="etatForm == '2'"
                                            ng-selected="FormAddGESA.ville == laVille.VL_CODEVILLE"
                                            ng-repeat="laVille in listeVillesGESA" value="{{laVille.VL_CODEVILLE}}"
                                            ng-click="afficheListeCommune(FormAddGESA.ville)">
                                            {{laVille.VL_LIBELLE}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4" style="margin-top: 10px;">
                                <label>Section*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-pin text-info"></i>
                                        </span>
                                    </div>
                                    <select id="idSection" class="form-control" name="addGESA_Commune"
                                        ng-model="FormAddGESA.section" ng-disabled="verouCommune">
                                        <option value="">Sélectionner une section</option>
                                        <option ng-show="etatForm !== '2'" ng-repeat="laCommune in listeCommunesGESA"
                                            value="{{laCommune.CO_CODECOMMUNE}}">{{laCommune.CO_LIBELLE}}</option>
                                        <option ng-show="etatForm == '2'"
                                            ng-selected="FormAddGESA.section == laCommune.CO_CODECOMMUNE"
                                            ng-repeat="laCommune in listeCommunesGESA"
                                            value="{{laCommune.CO_CODECOMMUNE}}">{{laCommune.CO_LIBELLE}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label>Situation géographique*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idSitGeo" type="text" class="form-control datatable-input"
                                        name="addGESA_Situation_géographique" placeholder="Entrer un nom"
                                        data-col-index="0" ng-model="FormAddGESA.situationGeo" maxlength="150" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Effet*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idDateEffet" type="text" class="form-control" name="addGESA_Effet"
                                        placeholder="Entrer un effet" ng-model="FormAddGESA.effet" maxlength="10"
                                        ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Echéance*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idDateEcheance" type="text" class="form-control" name="addGESA_Echeance"
                                        placeholder="Entrer une écheance" ng-model="FormAddGESA.echeance" maxlength="10"
                                        ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Exercice</label>
                                    <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                        <i class="fab fa-etsy text-info"></i>
                                                </span>
                                            </div>
                                            <select id="idExercice" class="form-control" name="addMP_Exercice"
                                            ng-model="FormAddGESA.Exercice" >
                                            <option value="">Sélectionner un exercice</option>
                                            <option ng-show="etatForm !== '2'"   
                                                ng-repeat="lExercice in listeDesExercice"
                                                ng-selected="FormAddGESA.Exercice == lExercice.EX_EXERCICE"
                                               value="{{lExercice.EX_EXERCICE}}">{{lExercice.EX_EXERCICE}}</option>
                                            <option ng-show="etatForm == '2'"
                                                ng-selected="FormAddGESA.Exercice == lExercice.EX_EXERCICE"
                                                ng-repeat="lExercice in listeDesExercice"
                                                value="{{lExercice.EX_EXERCICE}}">{{lExercice.EX_EXERCICE}}</option>
                                           </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>Assureur*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-cog text-info"></i>
                                        </span>
                                    </div>
                                    <select id="idAssureur" class="form-control" name="addGESA_Assureur"
                                        ng-model="FormAddGESA.assureur">
                                        <option value="">Sélectionner un assureur</option>
                                        <option ng-show="etatForm !== '2'"
                                            ng-selected="FormAddGESA.assureur == lAssureur.TI_IDTIERS"
                                            ng-repeat="lAssureur in listeDesAssureurs" value="{{lAssureur.TI_IDTIERS}}">
                                            {{lAssureur.TI_DENOMINATION}}</option>
                                        <option ng-show="etatForm == '2'"
                                            ng-selected="FormAddGESA.assureur == lAssureur.TI_IDTIERS"
                                            ng-repeat="lAssureur in listeDesAssureurs" value="{{lAssureur.TI_IDTIERS}}">
                                            {{lAssureur.TI_DENOMINATION}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Intermédiaire*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-people-arrows text-info"></i>
                                        </span>
                                    </div>
                                    <select id="idIntermediaire" class="form-control" name="addGESA_Intermediaire"
                                        ng-model="FormAddGESA.intermediaire">
                                        <option value="">Sélectionner un intermédiaire</option>
                                        <option ng-show="etatForm !== '2'"
                                            ng-repeat="lIntermediaire in listeIntermediaireGesa"
                                            value="{{lIntermediaire.IT_CODEINTERMEDIAIRE}}">
                                            {{lIntermediaire.IT_DENOMMINATION}}</option>
                                        <option ng-show="etatForm == '2'"
                                            ng-selected="FormAddGESA.intermediaire == lIntermediaire.IT_CODEINTERMEDIAIRE"
                                            ng-repeat="lIntermediaire in listeIntermediaireGesa"
                                            value="{{lIntermediaire.IT_CODEINTERMEDIAIRE}}">
                                            {{lIntermediaire.IT_DENOMMINATION}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Pharmacien*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-assistive-listening-systems text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idPharmacien" type="text" class="form-control" name="addGESA_pharmacien"
                                        placeholder="Entrer un pharmacien" ng-model="FormAddGESA.pharmacien"
                                        maxlength="150" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>Téléphone pharmacien*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone-alt text-info"></i>
                                        </span>
                                    </div>
                                    <input id="idTelPharmacien" type="text" class="form-control"
                                        name="addGESA_Telephone_pharmacien" placeholder="Entrer un n° de téléphone"
                                        ng-model="FormAddGESA.Telephone_pharmacien" maxlength="15" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Type d'affaire*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-briefcase text-info"></i>
                                        </span>
                                    </div>
                                    <select id="idTypeAffaire" class="form-control" name="addGESA_typeAffaire"
                                        ng-model="FormAddGESA.typeAffaire">
                                        <option value="">Sélectionner un type</option>
                                        <option ng-show="etatForm !== '2'"
                                            ng-repeat="leTypeAffaire in listeTypeAffaireGESA"
                                            value="{{leTypeAffaire.TA_CODETYPEAFFAIRES}}">
                                            {{leTypeAffaire.TA_LIBLLETYPEAFFAIRES}}</option>
                                        <option ng-show="etatForm == '2'"
                                            ng-selected="FormAddGESA.typeAffaire == leTypeAffaire.TA_CODETYPEAFFAIRES"
                                            ng-repeat="leTypeAffaire in listeTypeAffaireGESA"
                                            value="{{leTypeAffaire.TA_CODETYPEAFFAIRES}}">
                                            {{leTypeAffaire.TA_LIBLLETYPEAFFAIRES}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Garantie*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-pin text-info"></i>
                                        </span>
                                    </div>
                                    <select id="idgarantie" class="form-control" name="addgarantie"
                                        ng-model="FormAddGESA.valgarantie">
                                        <option value="">Sélectionner une garantie</option>
                                        <option ng-show="etatForm !== '2'" ng-repeat="lAgarantie in listeDesGarantie"
                                            value="{{lAgarantie.GR_CODEGARENTIEPRIME}}">
                                            {{lAgarantie.GR_LIBELLEGARENTIEPRIME}}</option>
                                        <option ng-show="etatForm == '2'"
                                            ng-selected="FormAddGESA.valgarantie == lAgarantie.GR_CODEGARENTIEPRIME"
                                            ng-repeat="lAgarantie in listeDesGarantie"
                                            value="{{lAgarantie.GR_CODEGARENTIEPRIME}}">
                                            {{lAgarantie.GR_LIBELLEGARENTIEPRIME}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-dashed separator-success my-1"></div><br>
            <div class="form-group row col-lg-12">
                <div class="mb-3">
                    <h6><strong style="color: DarkSlateBlue"><u>TABLEAU DES PRIMES</u></strong></h6>
                </div>
                <div class="col-12 ">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>LIBELLE </th>
                                <th>VALEUR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="etatForm !== '2'" ng-repeat="prime in tabPrimes">
                                <td>{{prime.RE_LIBELLERESUME}}</td>
                                <td>
                                    <label ng-show="prime.RE_CODERESUME != '05'">{{prime.CG_PRIMES | currency:"":0}}
                                        FCFA</label>
                                    <input ng-change="calculprimettc()" type="text" name="" class="form-control"
                                        placeholder="" ng-model="prime.CG_PRIMES" ng-pattern="/^[0-9]+$/" />
                                </td>
                            </tr>

                            <tr ng-show="etatForm == '2'" ng-repeat="prime in recupererInfo.clsCtcontratprimes">
                                <td>{{prime.RE_LIBELLERESUME}}</td>
                                <td>
                                    <label ng-show="prime.RE_CODERESUME != '05'">{{prime.CG_PRIMES | currency:"":0}}
                                        FCFA</label>
                                    <input ng-change="calculprimettc()" type="text" name="" class="form-control"
                                        placeholder="" ng-model="prime.CG_PRIMES" ng-pattern="/^[0-9]+$/" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-shadow-hover font-weight-bold"
            ng-click="ajoutFormAddGESA(FormAddGESA.effet, FormAddGESA.echeance)">
            <span>
                <i class="far fa-check-circle"></i>
                <span>{{btnEnregistrer}}</span>
            </span>
        </button>&#160;
        <button ng-show="etatForm !== '2'" type="submit" class="btn btn-light-success font-weight-bold"
            ng-click="resetFormAddGESA()">
            <span>
                <i class="fas fa-undo"></i>
                <span>Réinitialiser</span>
            </span>
        </button>
        <a ng-href="#/assurances/sante/gesa" class="btn btn-icon btn-light-dark mr-2" data-toggle="tooltip"
            data-theme="dark" title="Retour" style="position: absolute; right: 27px">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>

</form>


<!--begin modal pour choix du code souscripteur-->
<div class="modal fade" id="modalCodeSouscripteur" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="modalCodeSouscripteur" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #718E3E;">
                <h5 class="modal-title text-white" id="modalCodeSouscripteur"
                    style="font-size: 23px; font-family: Maiandra GD">
                    <i class="fas fa-ellipsis-h text-white"></i>
                    Liste des tiers - souscripteur
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-checkable" id="kt_datatable" ng-show="leChargement == false">
                    <thead style="text-align: center">
                        <tr>
                            <th>N° TIERS</th>
                            <th>DENOMINATION</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lesSouscripteurs in listeDesSouscripteurs">
                            <td>{{lesSouscripteurs.TI_NUMTIERS}}</td>
                            <td>{{lesSouscripteurs.TI_DENOMINATION}}</td>
                            <td style="text-align: center">
                                <!--bouton voir plus-->
                                <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip"
                                    data-theme="dark" title="Choisir"
                                    ng-click="choixSouscripteur(lesSouscripteurs.TI_NUMTIERS, lesSouscripteurs.TI_DENOMINATION, lesSouscripteurs.TI_IDTIERS,lesSouscripteurs.TI_NOMINTERLOCUTEUR)"
                                    data-dismiss="modal">
                                    <i class="fas fa-check"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 ng-show="leChargement == true" style="text-align: center;">Chargement en cours...</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                    <span>
                        <i class="la la-close"></i>
                        <span>Fermer</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->
<div class="modal fade" id="modalCodeCommercial" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="modalCodeCommercial" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #718E3E;">
                <h5 class="modal-title text-white" id="modalCodeCommercial"
                    style="font-size: 23px; font-family: Maiandra GD">
                    <i class="fas fa-ellipsis-h text-white"></i>
                    Liste des tiers - commercial
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-checkable" id="kt_datatable" ng-show="leChargement == false">
                    <thead style="text-align: center">
                        <tr>
                            <th>N° TIERS</th>
                            <th>DENOMINATION</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lesCommerciaux in listeDesCommerciaux">
                            <td>{{lesCommerciaux.TI_NUMTIERS}}</td>
                            <td>{{lesCommerciaux.TI_DENOMINATION}}</td>
                            <td style="text-align: center">
                                <!--bouton voir plus-->
                                <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip"
                                    data-theme="dark" title="Choisir"
                                    ng-click="choixCommercial(lesCommerciaux.TI_NUMTIERS, lesCommerciaux.TI_DENOMINATION, lesCommerciaux.TI_IDTIERS)"
                                    data-dismiss="modal">
                                    <i class="fas fa-check"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 ng-show="leChargement == true" style="text-align: center;">Chargement en cours...</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                    <span>
                        <i class="la la-close"></i>
                        <span>Fermer</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>