<form class="mb-15" id="idList" ng-init="initFormListe()">
    <div class="card-body">
        <!--begin: Search Form-->
        <div class="row mb-6">
            <div class="col-lg-12 mb-lg-0 mb-6">
                <label>Statut*</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-stamp text-info"></i>
                        </span>
                    </div>
                    <select id="idStatut" class="form-control" name="listOperateur_Entrepot"
                        ng-model="formDemande.Statut">
                        <option value="">Sélectionner un statut</option>
                        <option ng-repeat="leStatut in listeStatut" value="{{leStatut.SD_CODEPIECE}}">
                            {{leStatut.SD_LIBELLEPIECE}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-6">
            <div class="col-lg-12 mb-lg-0 mb-6">
                <label>Risque*</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-registered text-info"></i>
                        </span>
                    </div>
                    <select id="idRisque" class="form-control" name="listOperateur_Entrepot"
                        ng-model="formDemande.Risque">
                        <option value="">Sélectionner un risque</option>
                        <option ng-repeat="leRisque in listeRisque" value="{{leRisque.RQ_CODERISQUE}}">
                            {{leRisque.RQ_LIBELLERISQUE}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-6">
            <div class="col-lg-12 mb-lg-0 mb-6">
                <label>Période*</label>
                <div class="input-daterange input-group" id="">
                    <!--kt_datepicker-->
                    <input id="idPeriodeDu" type="text" class="form-control"
                        ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/"
                        name="list_PeriodeDu" placeholder="Du" ng-model="formDemande.periodeDu" maxlength="10" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fas fa-arrows-alt-h text-info"></i>
                        </span>
                    </div>
                    <input id="idPeriodeAu" type="text" class="form-control"
                        ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/"
                        name="list_PeriodeAu" placeholder="Au" ng-model="formDemande.periodeAu" maxlength="10" />
                </div>
            </div>
           <!-- <div class="col-lg-4">
                <label>Exercice</label>
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                        <i class="fab fa-etsy text-info"></i>
                                </span>
                            </div>
                            <select id="idExercice" class="form-control" name="addMP_Exercice"
                            ng-model="formDemande.Exercice" >
                            <option value="">Sélectionner un exercice</option>
                            <option   
                                ng-repeat="lExercice in listeDesExercice"
                                ng-selected="formDemande.Exercice == lExercice.EX_EXERCICE"
                               value="{{lExercice.EX_EXERCICE}}">{{lExercice.EX_EXERCICE}}</option>
                           </select>
                    </div>
            </div>-->
        </div>

        <div class="row mt-8">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-primary--icon" id="kt_search"
                    ng-click="afficheListeDemande(formDemande.Statut, formDemande.Risque, formDemande.periodeDu, formDemande.periodeAu, formDemande.Exercice)">
                    <span>
                        <i class="la la-search"></i>
                        <span>Rechercher</span>
                    </span>
                </button>&#160;&#160;
                <button type="button" class="btn btn-outline-warning" id="kt_reset" ng-click="listeAnnuler()">
                    <span>
                        <i class="la la-close"></i>
                        <span>Annuler</span>
                    </span>
                </button>
            </div>
        </div>&#160;&#160;

        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="kt_datatable">
            <thead style="text-align: center;">
                <!--background-color: #8CB9BA; color: White-->
                <tr>
                    <th>DATE</th>
                    <th>RISQUE</th>
                    <th>ASSUREUR</th>
                    <th>DATE DE VALIDATION</th>
                    <th style="width: 90px;">ACTIONS</th>
                </tr>
            </thead>
            <tfoot ng-show="listeDemande[0].SL_RESULTAT !== 'FALSE'">
                <tr ng-repeat="laListeDemande in listeDemande">
                    <td>{{laListeDemande.DE_DATESAISIE | date: 'dd/MM/yyyy'}}</td>
                    <td>{{laListeDemande.RQ_LIBELLERISQUE}}</td>
                    <td>{{laListeDemande.TI_DENOMINATIONASSUREUR}}</td>
                    <td>{{laListeDemande.DE_DATEVALIDATION | date: 'dd/MM/yyyy'}}</td>
                    <!--ligne des actions-->
                    <td>
                        <div class="example-preview" style="position: relative; right: -17px">
                            <div class="btn-toolbar" role="toolbar" aria-label="...">
                                <div class="btn-group mr-2" role="group" aria-label="...">
                                    <!--bouton demande de contrat-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon"
                                        ng-click="allerALEnregistrement(laListeDemande)" title="Effectuer la demande">
                                        <i class="fas fa-share"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!--end: Datatable-->
    </div>
</form>

<!--begin modal pour suppression-->
<div class="modal fade" id="modalSupprimer" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="modalSupprimer" aria-hidden="true">
    <div class="modal-dialog modal-xs modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #718E3E;">
                <h5 class="modal-title text-white" id="modalSupprimer"
                    style="font-size: 23px; font-family: Maiandra GD">
                    <i class="fas fa-ban text-white"></i>
                    Contrat
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close text-white"></i>
                </button>
            </div>
            <div class="modal-body" style="text-align: center; font-size: 17px;">
                Etes-vous sûr de vouloir supprimer ce contrat ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-shadow font-weight-bold" id="pourSupprimer"
                    ng-click="supprimeContrat(idElement)" data-dismiss="modal">
                    <span>
                        <i class="fas fa-ban"></i>
                        <span>Supprimer</span>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                    <span>
                        <i class="la la-close"></i>
                        <span>Annuler</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->