<!--début loader-->
<div ng-include="'Template/default/layouts/loading.html'"></div>
<!--fin loader-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-init="initFormListConsultation()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background: Beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">GESTION</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Trésorerie</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Liste</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Consultation</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header" style="background-color: #F5F500">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-hospital-user text-dark icon-xl"></i>
                                </span>
                                <h3 class="card-title" style="font-size: 30px; font-family: 'Maiandra GD'">Consultation
                                </h3>
                            </div>
                            <div class="card-toolbar">
                                <!--begin::Dropdown-->
                                <!-- <div class="dropdown dropdown-inline mr-2">
                                    <button type="button"
                                        class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="svg-icon svg-icon-md">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path
                                                        d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                                                        fill="#000000" opacity="0.3" />
                                                    <path
                                                        d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                                                        fill="#000000" />
                                                </g>
                                            </svg>
                                        </span>Exporter
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="navi flex-column navi-hover py-2">
                                            <li
                                                class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                                                Choose an option:</li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="la la-print"></i>
                                                    </span>
                                                    <span class="navi-text">Print</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="la la-copy"></i>
                                                    </span>
                                                    <span class="navi-text">Copy</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="la la-file-excel-o"></i>
                                                    </span>
                                                    <span class="navi-text">Excel</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="la la-file-text-o"></i>
                                                    </span>
                                                    <span class="navi-text">CSV</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="la la-file-pdf-o"></i>
                                                    </span>
                                                    <span class="navi-text">PDF</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
                                <!--end::Dropdown-->

                                <!--begin::Button-->

                                <!--end::Button-->

                            </div>
                        </div>
                        <!--begin::Form-->
                        <div class="card-body">
                            <form class="form">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Code patient*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idCode1" type="text"
                                                                class="form-control datatable-input"
                                                                placeholder="Entrer un code" data-col-index="4"
                                                                ng-model="FormListConsultation.codePatient" />
                                                            <div class="input-group-append" data-toggle="tooltip"
                                                                data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon"
                                                                    ng-show="etatForm !== '2'" type="button"
                                                                    id="kt_reset" data-toggle="modal"
                                                                    data-target="#modalCodeSouscripteur"
                                                                    ng-click="afficheListeTiersSouscripteur(FormListConsultation.codePatient, FormListConsultation.nomPatient)">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Nom & prénom(s) patient*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-address-card text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idnomPatient" type="text" class="form-control"
                                                                name="url" placeholder="Entrer un nom & prénom(s)"
                                                                ng-model="FormListConsultation.nomPatient" />
                                                            <div class="input-group-append" data-toggle="tooltip"
                                                                data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon"
                                                                    ng-show="etatForm !== '2'" type="button"
                                                                    id="kt_reset" data-toggle="modal"
                                                                    data-target="#modalCodeSouscripteur"
                                                                    ng-click="afficheListeTiersSouscripteur(FormListConsultation.codePatient, FormListConsultation.nomPatient)">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Code medecin*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idCode2" type="text"
                                                                class="form-control datatable-input"
                                                                placeholder="Entrer un code" data-col-index="4"
                                                                ng-model="FormListConsultation.codeMedecin" />
                                                            <div class="input-group-append" data-toggle="tooltip"
                                                                data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon"
                                                                    id="kt_reset" ng-show="etatForm !== '2'"
                                                                    type="button" data-toggle="modal"
                                                                    data-target="#modalCodeSouscripteurMed"
                                                                    ng-click="afficheListeTiersSouscripteurMedecin(FormListConsultation.codeMedecin, FormListConsultation.nomMedecin)">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Nom & prénom(s) medecin*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-address-card text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idnomMedecin" type="text" class="form-control"
                                                                name="url" placeholder="Entrer un nom & prénom(s)"
                                                                ng-model="FormListConsultation.nomMedecin" />
                                                            <div class="input-group-append" data-toggle="tooltip"
                                                                data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon"
                                                                    id="kt_reset" ng-show="etatForm !== '2'"
                                                                    type="button" data-toggle="modal"
                                                                    data-target="#modalCodeSouscripteurMed"
                                                                    ng-click="afficheListeTiersSouscripteurMedecin(FormListConsultation.codeMedecin, FormListConsultation.nomMedecin)">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Date début*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idDateDebut" type="text" class="form-control"
                                                                name="url"
                                                                ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/"
                                                                placeholder="Entrer une date début"
                                                                ng-model="FormListConsultation.dateDebut" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir la date
                                                            début.</span>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Date fin*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idDateFin" type="text" class="form-control"
                                                                name="url" placeholder="Entrer une date fin"
                                                                ng-pattern="/^([0][1-9]|[1|2][0-9]|[3][0|1])[./-]([0][1-9]|[1][0-2])[./-]([0-9]{4}|[0-9]{2})$/"
                                                                ng-model="FormListConsultation.dateFin" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir la date
                                                            fin.</span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>N° dossier*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input id="idnumDossier" type="text" class="form-control"
                                                                name="url" placeholder="Entrer un n°"
                                                                ng-model="FormListConsultation.numDossier" />
                                                        </div>
                                                        <span class="form-text text-muted">Veuillez saisir le n° du
                                                            dossier.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="row mt-8">
                                                        <div class="col-lg-12">
                                                            &#160;&#160;<button
                                                                class="btn btn-primary btn-primary--icon" id="kt_search"
                                                                ng-click="afficheListeConsultation(FormListConsultation.dateDebut, FormListConsultation.dateFin, FormListConsultation.codeMedecin, FormListConsultation.nomMedecin, FormListConsultation.codePatient, FormListConsultation.nomPatient, FormListConsultation.numDossier)">
                                                                <span>
                                                                    <i class="la la-search"></i>
                                                                    <span>Rechercher</span>
                                                                </span>
                                                            </button>&#160;&#160;
                                                            <button class="btn btn-outline-warning" id="kt_reset"
                                                                ng-click="listeAnnuler()">
                                                                <span>
                                                                    <i class="la la-close"></i>
                                                                    <span>Annuler</span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <table class="table table-bordered table-checkable"
                                                            id="kt_datatable">
                                                            <thead>
                                                                <tr>
                                                                    <th>DATE CONSULTATION</th>
                                                                    <th>N° DOSSIER</th>
                                                                    <th>CODE PATIENT</th>
                                                                    <th>NOM & PRENOM PATIENT</th>
                                                                    <th>CONTACT PATIENT</th>
                                                                    <th>CODE MEDECIN</th>
                                                                    <th>NOM & PRENOM MEDECIN</th>
                                                                    <th>CONTACT MEDECIN</th>
                                                                    <th>ACTION</th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot
                                                                ng-show="listeConsultation[0].clsObjetRetour.SL_RESULTAT !== 'FALSE'">
                                                                <tr
                                                                    ng-repeat="laListeConsultation in listeConsultation">
                                                                    <td>{{laListeConsultation.CO_DATEDECONSULTATION}}
                                                                    </td>
                                                                    <td>{{laListeConsultation.CO_NUMERODOSSIER}}</td>
                                                                    <td>{{laListeConsultation.TI_NUMTIERSPATIENT}}</td>
                                                                    <td>{{laListeConsultation.TI_DENOMINATIONPATIENT}}
                                                                    </td>
                                                                    <td>{{laListeConsultation.TI_TELEPHONEPATIENT}}</td>
                                                                    <td>{{laListeConsultation.TI_IDTIERSMEDECIN}}</td>
                                                                    <td>{{laListeConsultation.TI_DENOMINATIONMEDECIN}}
                                                                    </td>
                                                                    <td>{{laListeConsultation.TI_TELEPHONEMEDECIN}}</td>
                                                                    <td>
                                                                        <div class="example-preview"
                                                                            style="position: relative; right: -3px">
                                                                            <div class="btn-toolbar" role="toolbar"
                                                                                aria-label="...">
                                                                                <div class="btn-group mr-2" role="group"
                                                                                    aria-label="...">
                                                                                    <!--bouton 
                                                                                    <th>N° DOSSIER PRIM... </th>  <td>n'est pas dans le retour </td>  voir plus-->
                                                                                    <button type="button"
                                                                                        class="btn btn-outline-secondary btn-icon"
                                                                                        data-toggle="modal"
                                                                                        data-target="#modalVoirPlus"
                                                                                        ng-click="voirPlus(laListeConsultation)">
                                                                                        <i class="far fa-eye"></i>
                                                                                    </button>
                                                                                    <!--bouton modifier-->
                                                                                    <!--<button type="button" class="btn btn-outline-secondary btn-icon" ng-click="voirModification(laListeConsultation)" title="Modifier">

                                                                                        <i class="far fa-edit"></i>
                                                                                    </button>-->
                                                                                    <!--bouton supprimer-->
                                                                                    <!--<button id="swalSupprimer" type="button" class="btn btn-outline-secondary btn-icon" data-toggle="modal" data-target="#modalSupprimer" ng-click="supprRecupererIdElement(laListeConsultation.CO_CODECONSULTATION)" title="Supprimer">
                                                                                        <i class="fas fa-ban"></i>
                                                                                    </button>-->
                                                                                    <button type="button"
                                                                                        class="btn btn-outline-secondary btn-icon dropleft"
                                                                                        data-toggle="dropdown"
                                                                                        aria-haspopup="true"
                                                                                        aria-expanded="false">
                                                                                        <i
                                                                                            class="fas fa-ellipsis-v"></i>
                                                                                        <div class="dropdown-menu"
                                                                                            style="">
                                                                                            <a class="dropdown-item"
                                                                                                href="#">Affichage des
                                                                                                antécédents</a>
                                                                                            <!--<a class="dropdown-item" href="#">Saisie des constantes</a>
                                                                                            <a class="dropdown-item" href="#">Saisie d'ordonnance</a>-->
                                                                                            <!--<a class="dropdown-item" href="#">Prescriptions et résultats</a>-->
                                                                                            <!--<a class="dropdown-item" href="#">Saisie de rendez-vous</a>-->
                                                                                            <a class="dropdown-item"
                                                                                                href="#">Consultation
                                                                                                sur rendez-vous</a>
                                                                                            <!--<a class="dropdown-item" href="#">Rédactions</a>-->
                                                                                            <a class="dropdown-item"
                                                                                                href="#">Affichage des
                                                                                                préférences</a>
                                                                                            <a class="dropdown-item"
                                                                                                href="#">Rattacher une
                                                                                                facture</a>
                                                                                        </div>
                                                                                    </button>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer" style="height: 80px;">
                            <a ng-click="retourSurSituation()" class="btn btn-icon btn-light-dark mr-2"
                                data-toggle="tooltip" data-theme="dark" title="Retour"
                                style="position: absolute; right: 27px">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                    <!--begin modal pour choix du code souscripteur-->
                    <div class="modal fade" id="modalCodeSouscripteur" data-backdrop="static" tabindex="-1"
                        role="dialog" aria-labelledby="modalCodeSouscripteur" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #F5F500;">
                                    <h5 class="modal-title text-dark" id="modalCodeSouscripteur"
                                        style="font-size: 23px; font-family: Maiandra GD">
                                        <i class="fas fa-ellipsis-h text-dark"></i>
                                        Liste des tiers - souscripteur
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i aria-hidden="true" class="ki ki-close text-dark"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered table-checkable" id="kt_datatable">
                                        <thead style="text-align: center">
                                            <tr>
                                                <th>N° TIERS</th>
                                                <th>DENOMINATION</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="lesSouscripteurs in listeDesSouscripteurs">
                                                <td>{{lesSouscripteurs.TI_NUMTIERS}}</td>
                                                <td>{{lesSouscripteurs.TI_DENOMINATION}}</td>
                                                <td style="text-align: center">
                                                    <!--bouton voir plus-->
                                                    <button type="button" class="btn btn-outline-secondary btn-icon"
                                                        data-toggle="tooltip" data-theme="dark" title="Choisir"
                                                        ng-click="choixSouscripteurPatient(lesSouscripteurs.TI_NUMTIERS, lesSouscripteurs.TI_DENOMINATION, lesSouscripteurs.TI_IDTIERS)"
                                                        data-dismiss="modal">
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                                        <span>
                                            <i class="la la-close"></i>
                                            <span>Fermer</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end modal-->

                </div>
            </div>
            <!--begin modal pour suppression-->
            <!--<div class="modal fade" id="modalSupprimer" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalSupprimer" aria-hidden="true">
                <div class="modal-dialog modal-xs modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #718E3E;">
                            <h5 class="modal-title text-white" id="modalSupprimer" style="font-size: 23px; font-family: Maiandra GD">
                                <i class="fas fa-ban text-white"></i>
                                Contrat
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close text-white"></i>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align: center; font-size: 17px;">
                            Etes-vous sûr de vouloir supprimer ce contrat ?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger btn-shadow font-weight-bold" id="pourSupprimer" ng-click="supprimeConsultation(idElement)" data-dismiss="modal">
                                <span>
                                    <i class="fas fa-ban"></i>
                                    <span>Supprimer</span>
                                </span>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                                <span>
                                    <i class="la la-close"></i>
                                    <span>Annuler</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--end modal-->
        </div>
        <!--end::Container-->
        <!--end::Entry-->
        <div class="modal fade" id="modalVoirPlus" tabindex="-1" role="dialog" aria-labelledby="modalVoirPlus"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #F5F500;">
                        <h5 class="modal-title text-dark" id="modalVoirPlus"
                            style="font-size: 23px; font-family: Maiandra GD">
                            <i class="far fa-eye text-dark"></i>
                            Plus d'informations
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close text-dark"></i>
                        </button>
                    </div>
                    <div class="modal-body" style="height: 300px;">
                        <div class="row col-lg-12">
                            <div class="col-lg-6">
                                <h6><strong style="color: DarkSlateBlue">INFORMATION DU PATIENT</strong></h6>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">CODE PATIENT</strong> :
                                {{recuperer.TI_NUMTIERSPATIENT}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">NOM & PRENOM
                                    PATIENT</strong> : {{recuperer.TI_DENOMINATIONPATIENT}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">TELEPHONE PATIENT</strong> :
                                {{recuperer.TI_TELEPHONEPATIENT}}
                            </div>
                            <div class="col-lg-6">
                                <h6><strong style="color: DarkSlateBlue">INFORMATION DU MEDECIN</strong></h6>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">CODE MEDECIN</strong> :
                                {{recuperer.TI_NUMTIERSMEDECIN}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">NOM & PRENOM
                                    MEDECIN</strong> : {{recuperer.TI_DENOMINATIONMEDECIN}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">TELEPHONE MEDECIN</strong> :
                                {{recuperer.TI_TELEPHONEMEDECIN}}<br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">TAUX COMMISSION</strong> :
                                {{recuperer.CO_TAUXMEDECIN}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">MONTANT COMMISSION</strong>
                                : {{recuperer.CO_MONTANTMEDECIN}}
                            </div>
                        </div>&#160;&#160;
                        <div class="row col-lg-12">
                            <div class="col-lg-6">
                                <h6><strong style="color: DarkSlateBlue">INFORMATION DE CONSULTATION </strong></h6>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">N° DOSSIER</strong> :
                                {{recuperer.CO_NUMERODOSSIER}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">TYPE DE
                                    CONSULTATION</strong> : {{recuperer.TY_LIBELLETYPECONSULTATION}}<br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">DATE CONSULTATION</strong> :
                                {{recuperer.CO_DATEDECONSULTATION}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">REPRESENTANT</strong> :
                                {{recuperer.CO_DESCRIPTIONREPRESENTANT}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">MOTIF</strong> :
                                {{recuperer.CO_MOTIFCONSULTATION}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">MODE ADMISSION</strong> :
                                {{recuperer.MD_LIBELLEMODEADMISSION}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">SERVICE</strong> :
                                {{recuperer.SR_LIBELLE}} <br>
                                <strong style="font-size: 13px; font-family: 'Maiandra GD'">AUTRES INFORMATIONS</strong>
                                : {{recuperer.CO_AUTRESINFORMATIONS}} <br>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                            <span>
                                <i class="la la-close"></i>
                                <span>Fermer</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
    </div>
    <!--end::Entry-->
    <!--begin modal pour choix du code souscripteur-->
    <div class="modal fade" id="modalCodeSouscripteurMed" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="modalCodeSouscripteurMed" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #F5F500;">
                    <h5 class="modal-title text-dark" id="modalCodeSouscripteurMed"
                        style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-dark"></i>
                        Liste des tiers - médecins
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-dark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesSouscripteurs1 in listeDesSouscripteursMedecins">
                                <td>{{lesSouscripteurs1.TI_NUMTIERS}}</td>
                                <td>{{lesSouscripteurs1.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon"
                                        data-toggle="tooltip" data-theme="dark" title="Choisir"
                                        ng-click="choixSouscripteurMedecin(lesSouscripteurs1.TI_NUMTIERS, lesSouscripteurs1.TI_DENOMINATION, lesSouscripteurs1.TI_IDTIERS)"
                                        data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
</div>
<!--end::Content-->