<!--début loader-->
<div ng-include="'Template/default/layouts/loading.html'"></div>
<!--fin loader-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-init="initFormAddOperationTresorerie()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background: Beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">GESTION</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Trésorerie</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Opération de trésorerie</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Enregistrement</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted"> Opération de trésorerie</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->

            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header" style="background-color: #F5F500">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="far fa-money-bill-alt text-dark icon-xl"></i>
                                </span>
                                <h3 class="card-title" style="font-size: 30px; font-family: 'Maiandra GD'">Opérations de
                                    trésorerie</h3>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead>
                                                <tr>
                                                    <th>Famille des opérations</th>
                                                    <th>CHOIX</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="lalisteDesListeFamilleOpe in listeDesListeFamilleOpe">
                                                    <td>{{lalisteDesListeFamilleOpe.FO_LIBELLEFAMILLEOPERATION}}</td>
                                                    <td>
                                                        <label class="radio"
                                                            ng-click="afficheListeOperationenfant(lalisteDesListeFamilleOpe.FO_CODEFAMILLEOPERATION)">
                                                            <span>
                                                                <input type="radio" name="radios{{index}}" />
                                                            </span>
                                                        </label>
                                                        <!--<label class="checkbox checkbox-lg checkbox-primary flex-shrink-0 m-0 mr-4" ng-click="afficheListeOperationenfant(lalisteDesListeFamilleOpe.FO_CODEFAMILLEOPERATION)">
                                                                <input type="checkbox" value="Due in 1 Year" />
                                                                <span class="blue"></span>
                                                            </label>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-7">
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead>
                                                <tr>
                                                    <th>Opérations</th>
                                                    <th>CHOIX</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    ng-repeat="lalisteDesListeFamilleOpeliste in listeDesListeFamilleOpeliste">
                                                    <td>{{lalisteDesListeFamilleOpeliste.NO_LIBELLE}}</td>
                                                    <td>
                                                        <label class="radio">
                                                            <span>
                                                                <input type="radio" name="btn{{index}}"
                                                                    ng-click="afficheinfos(lalisteDesListeFamilleOpeliste)" />
                                                            </span>
                                                        </label>
                                                        <!--<label class="checkbox checkbox-lg checkbox-primary flex-shrink-0 m-0 mr-4">
                                                                <input type="radio" value="Due in 1 Year" />
                                                                <span class="blue"></span>
                                                            </label>-->
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="separator separator-dashed separator-success my-1"></div>&#160;
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7">
                                                <strong>DETAIL DES OPERATIONS</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Libéllé opération*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-quote-left text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" id="idlibcompt2"
                                                                name="url" placeholder="Entrer un libéllé opération"
                                                                ng-model="FormAddOperationTresorerie.libelle"
                                                                ng-disabled="isDisabled2" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>N° pièce*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url"
                                                                placeholder="Entrer un n° pièce"
                                                                ng-model="FormAddOperationTresorerie.Numpiece"
                                                                ng-disabled="isDisabled1" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Montant*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-money-bill-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" id="idMontant"
                                                                ng-pattern="/^[0-9]{1,12}$/" name="url"
                                                                placeholder="Entrer un montant"
                                                                ng-model="FormAddOperationTresorerie.Montant"
                                                                ng-disabled="isDisabled2" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7">
                                                <strong>ECRITURE COMPTABLE</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>N° compte 1*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                name="addMP_Denomination1" placeholder="Entrer un n°"
                                                                ng-model="FormAddOperationTresorerie.NumCompte1"
                                                                id="idNumCompte1" ng-disabled="isDisabled3" />
                                                            <div class="input-group-append" title="Choix du code">
                                                                <button type="button"
                                                                    class="btn btn-secondary btn-secondary--icon"
                                                                    id="kt_reset" data-toggle="modal"
                                                                    data-target="#modalNumCompte"
                                                                    ng-disabled="isDisabled3"
                                                                    ng-click="afficheListeNumCompte()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>libelle*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-exchange-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url"
                                                                ng-model="FormAddOperationTresorerie.libcompt1"
                                                                id="idlibcompt1" ng-disabled="isDisabled5" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Sens</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-money-bill-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control"
                                                                ng-model="FormAddOperationTresorerie.sens1"
                                                                name="option" id="idsens1" ng-disabled="isDisabled6">
                                                                <option ng-repeat="lAlisteDesSENS in listeDesSENS"
                                                                    ng-selected="FormAddOperationTresorerie.sens1 == lAlisteDesSENS.NO_SENS"
                                                                    value="{{lAlisteDesSENS.NO_SENS}}">
                                                                    {{lAlisteDesSENS.NO_SENSLIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>N° compte 2*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                name="addMP_Denomination1" placeholder="Entrer un n°"
                                                                id="idNumCompte2"
                                                                ng-model="FormAddOperationTresorerie.NumCompte2"
                                                                ng-disabled="isDisabled4" />
                                                            <div class="input-group-append" title="Choix du code">
                                                                <button type="button"
                                                                    class="btn btn-secondary btn-secondary--icon"
                                                                    id="kt_reset" data-toggle="modal"
                                                                    ng-disabled="isDisabled4"
                                                                    data-target="#modalNumCompte1"
                                                                    ng-click="afficheListeNumCompte1()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>libelle*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-exchange-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url"
                                                                ng-model="FormAddOperationTresorerie.libcompt2"
                                                                id="idlibcompt2" ng-disabled="isDisabled5" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Sens</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-money-bill-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control"
                                                                ng-model="FormAddOperationTresorerie.sens2"
                                                                name="option" id="idsens2" ng-disabled="isDisabled6">
                                                                <option ng-repeat="lAlisteDesSENS1 in listeDesSENS1"
                                                                    ng-selected="FormAddOperationTresorerie.sens2 == lAlisteDesSENS1.NO_SENS"
                                                                    value="{{lAlisteDesSENS1.NO_SENS}}">
                                                                    {{lAlisteDesSENS1.NO_SENSLIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-shadow-hover font-weight-bold"
                                    ng-click="AjoutOperationTresorerie()" ng-disabled="isDisabled2">
                                    <span>
                                        <i class="far fa-check-circle"></i>
                                        <span>Enregistrer</span>
                                    </span>
                                </button>&#160;
                                <button type="submit" class="btn btn-light-success font-weight-bold"
                                    ng-click="clearform()">
                                    <span>
                                        <i class="fas fa-undo"></i>
                                        <span>Réinitialiser</span>
                                    </span>
                                </button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
    <div class="modal fade" id="modalNumCompte" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="modalNumCompte" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #F5F500;">
                    <h5 class="modal-title text-dark" id="modalNumCompte"
                        style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-dark"></i>
                        N° compte
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-dark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable"
                        ng-show="leChargement == false">
                        <thead style="text-align: center">
                            <tr>
                                <th>COMPTE</th>
                                <th>NUMERO COMPTE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesNumCompte in listeDesNumComptes">
                                <td>{{lesNumCompte.PL_LIBELLE}}</td>
                                <td>{{lesNumCompte.PL_NUMCOMPTE}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon"
                                        data-toggle="tooltip" data-theme="dark" title="Choisir"
                                        ng-click="choixduPlan(lesNumCompte)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 ng-show="leChargement == true" style="text-align: center;">Chargement en cours...</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalNumCompte1" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="modalNumCompte1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #F5F500;">
                    <h5 class="modal-title text-dark" id="modalNumCompte1"
                        style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-dark"></i>
                        N° compte
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-dark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable"
                        ng-show="leChargement == false">
                        <thead style="text-align: center">
                            <tr>
                                <th>COMPTE</th>
                                <th>NUMERO COMPTE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesNumComptes in listeDesNumComptes1">
                                <td>{{lesNumComptes.PL_LIBELLE}}</td>
                                <td>{{lesNumComptes.PL_NUMCOMPTE}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon"
                                        data-toggle="tooltip" data-theme="dark" title="Choisir"
                                        ng-click="choixduPlan1(lesNumComptes)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 ng-show="leChargement == true" style="text-align: center;">Chargement en cours...</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->