@{
ViewBag.Title = "Enregistrement multirisque professionnel";
Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}

<div ng-show="loading">
    <!--a revoir-->
    <center>
        <div class="loading" style="position: fixed; z-index: 100; height: 2em; width: 2em; overflow: show; margin: auto; top: 0; left: 0; bottom: 0; right: 0; content: 'Chargement'; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8)); background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));">
            <img src="../Ressources/loader.gif" />
        </div>
    </center>
</div>

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="MultirisqueProfessionnelController" ng-init="initFormAddMultirisquePro()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background-color: beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">ASSURANCE</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Enregistrement</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Enregistrement</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Multirisque professionnel</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header" style="background-color: #718E3E;">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-hand-holding-water text-white icon-xl"></i>
                                </span>
                                <h3 class="card-title text-white" style="font-size: 30px; font-family: Maiandra GD">Multirisque professionnel</h3>
                            </div>
                            <div class="card-toolbar">
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form" id="formAddMultirisquePro" ng-init="afficheListeIntermediaire()">
                            <div class="card-body" ng-init="afficheListeDesignation()">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATION SUR LE SOUSCRIPTEUR</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="tel" class="form-control" name="addMP_Code1" placeholder="Entrer un code" ng-model="FormAddMultirisquePro.code1" ng-disabled="isDisabled1" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeSouscripteur" ng-click="afficheListeTiersSouscripteur()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Dénomination*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_Denomination1" placeholder="Entrer une Dénomination" ng-model="FormAddMultirisquePro.denomination1" ng-disabled="isDisabled1" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix de la dénomination">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeSouscripteur" ng-click="afficheListeTiersSouscripteur()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE COMMERCIAL</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_Code2" placeholder="Entrer un code" ng-model="FormAddMultirisquePro.code2" ng-disabled="isDisabled2" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Dénomination*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_Denomination2" placeholder="Entrer une Dénomination" ng-model="FormAddMultirisquePro.denomination2" ng-disabled="isDisabled2" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix de la dénomination">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS GENERALES</strong></h3>
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>N° police/ N.C*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-orcid text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_NumPolice" placeholder="Entrer un n°" ng-model="FormAddMultirisquePro.numPolice" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Intermédiaire*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-people-arrows text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addMP_Intermediaire" ng-model="FormAddMultirisquePro.intermediaire">
                                                                <option value="">Sélectionner un intermédiaire</option>
                                                                <option ng-repeat="lIntermediaire in listeIntermediaire" value="{{lIntermediaire.IT_CODEINTERMEDIAIRE}}">{{lIntermediaire.IT_DENOMMINATION}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label>Pays*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-globe-africa text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" id="idPays" name="addMP_Pays" ng-model="FormAddMultirisquePro.pays" >
                                                                <option value="">Sélectionner un pays</option>
                                                                <option ng-repeat="lePays in listeDesPays" value="{{lePays.PY_CODEPAYS}}">{{lePays.PY_LIBELLE}}</option>
                                                            </select> <!--ng-selected="lePays.PY_CODEPAYS == '0001'"-->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Ville*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-marker-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" id="idVille" name="addMP_Ville" ng-model="FormAddMultirisquePro.ville">
                                                                <option value="">Sélectionner une ville</option>
                                                                <option ng-repeat="laVille in listeDesVilles" value="{{laVille.VL_CODEVILLE}}">{{laVille.VL_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Commune*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-pin text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addMP_Commune" ng-model="FormAddMultirisquePro.commune">
                                                                <option value="">Sélectionner une commune</option>
                                                                <option ng-repeat="laCommune in listeDesCommunes" value="{{laCommune.CO_CODECOMMUNE}}">{{laCommune.CO_LIBELLE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>Situation géographique*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_SituationGeo" placeholder="Entrer une situation géograpgique" ng-model="FormAddMultirisquePro.situationGeo" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label>Effet*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_Effet" placeholder="Entrer une date" ng-model="FormAddMultirisquePro.effet" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Echéance*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-calendar-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_Echeance" placeholder="Entrer une date" ng-model="FormAddMultirisquePro.echeance" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label>Assureur*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-cog text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addMP_Assureur" ng-model="FormAddMultirisquePro.assureur">
                                                                <option value="">Sélectionner un assureur</option>
                                                                <option ng-repeat="lAssureur in listeDesAssureurs" value="{{lAssureur.TI_IDTIERS}}">{{lAssureur.TI_DENOMINATION}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>Interlocuteur*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-assistive-listening-systems text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_Interlocuteur" placeholder="Entrer un nom" ng-model="FormAddMultirisquePro.interlocuteur" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Téléphone interlocuteur*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-phone-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addMP_TelInterlocuteur" placeholder="Entrer un n° de téléphone" ng-model="FormAddMultirisquePro.telInterlocuteur" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>Désignation*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-address-card text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addMP_Designation" ng-model="FormAddMultirisquePro.designation">
                                                                <option value="">Sélectionner une désignation</option>
                                                                <option ng-repeat="laDesignation in listeDesignation" value="{{laDesignation.DI_CODEDESIGNATION}}">{{laDesignation.DI_LIBELLEDESIGNATION}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Type d'affaire*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-briefcase text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addMP_TypeAffaire" ng-model="FormAddMultirisquePro.typeAffaire">
                                                                <option value="">Sélectionner un type</option>
                                                                <option ng-repeat="leTypeAffaire in listeTypeAffaire" value="{{leTypeAffaire.TA_CODETYPEAFFAIRES}}">{{leTypeAffaire.TA_LIBLLETYPEAFFAIRES}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="separator separator-dashed separator-success my-1"></div><br>
                                            <div class="mb-1">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <table class="table table-bordered table-hover table-checkable" id="kt_datatable">
                                                            <!--tableau garenties-->
                                                            <thead style="text-align: center">
                                                                <tr>
                                                                    <th>LIBELLE SOUS CATEGORIE</th>
                                                                    <th>EVENEMENTS ASSURES</th>
                                                                    <th>CAPITAUX ASSURES</th>
                                                                    <th>PRIMES</th>
                                                                    <th>APRES REDUCTION</th>
                                                                    <th>PRORATA</th>
                                                                    <th>FRANCHISES</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="garentie in tabGarenties">
                                                                    <td>{{garentie.SC_LIBELLESOUSCATEGORIE}}</td>
                                                                    <td>{{garentie.GA_LIBELLEGARANTIE}}</td>
                                                                    <td>
                                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="garentie.CG_CAPITAUXASSURES" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="garentie.CG_PRIMES" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="garentie.CG_APRESREDUCTION" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="garentie.CG_PRORATA" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="garentie.CG_FRANCHISES" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <table class="table table-bordered table-hover table-checkable" id="kt_datatable">
                                                            <!--tableau primes-->
                                                            <thead style="text-align: center">
                                                                <tr>
                                                                    <th>LIBELLE</th>
                                                                    <th>PRIMES</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="prime in tabPrimes">
                                                                    <td>{{prime.RE_LIBELLERESUME}}</td>
                                                                    <td>
                                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="prime.CG_PRIMES" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-shadow-hover font-weight-bold" ng-click="ajoutFormAddMultirisquePro(FormAddMultirisquePro.effet, FormAddMultirisquePro.echeance)">
                                    <span>
                                        <i class="far fa-check-circle"></i>
                                        <span>Enregistrer</span>
                                    </span>
                                </button>&#160;&#160;
                                <button type="reset" class="btn btn-light-success font-weight-bold" ng-click="resetFormAddMultirisquePro()">
                                    <span>
                                        <i class="fas fa-undo"></i>
                                        <span>Réinitialiser</span>
                                    </span>
                                </button>
                                <a href="ListeMultirisqueProfessionnel" class="btn btn-icon btn-light-dark mr-2" data-toggle="tooltip" data-theme="dark" title="Retour" style="position: absolute; right: 27px">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

    <!--begin modal pour choix du code souscripteur-->
    <div class="modal fade" id="modalCodeSouscripteur" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeSouscripteur" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeSouscripteur" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - souscripteur
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesSouscripteurs in listeDesSouscripteurs">
                                <td>{{lesSouscripteurs.TI_NUMTIERS}}</td>
                                <td>{{lesSouscripteurs.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="choixSouscripteur(lesSouscripteurs.TI_NUMTIERS, lesSouscripteurs.TI_DENOMINATION, lesSouscripteurs.TI_IDTIERS)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
    <!--begin modal pour choix du code commercial-->
    <div class="modal fade" id="modalCodeCommercial" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeCommercial" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeCommercial" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - commercial
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesCommerciaux in listeDesCommerciaux">
                                <td>{{lesCommerciaux.TI_NUMTIERS}}</td>
                                <td>{{lesCommerciaux.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="choixCommercial(lesCommerciaux.TI_NUMTIERS, lesCommerciaux.TI_DENOMINATION, lesCommerciaux.TI_IDTIERS)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->

</div>
<!--end::Content-->
