@{
ViewBag.Title = "Habitat";
Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="HabitatController" ng-init="initFormAddHabitat()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background-color: beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">ASSURANCE</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Enregistrement</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Enregistrement</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Habitat</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header" style="background-color: #718E3E;">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-home text-white icon-xl"></i>
                                </span>
                                <h3 class="card-title text-white" style="font-size: 30px; font-family: Maiandra GD">Habitat</h3>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form" id="formAddHabitat">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATION SUR LE SOUSCRIPTEUR</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addHabitat_Code01" placeholder="Entrer un code" ng-model="FormAddHabitat.code1" ng-disabled="verou1"/>
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeSouscripteur" ng-click="afficheListeTiersSouscripteur()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                         </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Nom assuré*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-address-card text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addHabitat_NomAssure" placeholder="Entrer un nom" ng-model="FormAddHabitat.denomination1" ng-click="afficheListeTiersSouscripteur()" ng-disabled="verou1"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Adresse*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-periscope text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addHabitat_Adresse" placeholder="Entrer une adresse" ng-click="afficheListeTiersSouscripteur()" ng-model="FormAddHabitat.adresse" ng-disabled="verou1"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE COMMERCIAL</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addHabitat_Code02" placeholder="Entrer un code" ng-model="FormAddHabitat.code2" ng-disabled="verou2"/>
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Dénomination*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addHabitat_Denomination02" placeholder="Entrer une Dénomination"  ng-model="FormAddHabitat.denomination2" ng-disabled="verou2"/>
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="col-lg-4">
                                                        <label>Commission*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="far fa-money-bill-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addHabitat_Commission" placeholder="Entrer une commission" ng-click="afficheListeTiersCommercial()" ng-model="FormAddHabitat.commission">
                                                        </div>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS GENERALES</strong></h3>
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label>N° police/ N.C*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fab fa-orcid text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_N_Police" placeholder="Entrer un n°" ng-model="FormAddHabitat.numPolice"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Intermédiaire*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-people-arrows text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_Intermediaire" ng-model="FormAddHabitat.intermediaire">
                                                            <option value="">Sélectionner un intermédiaire</option>
                                                            <option ng-repeat="lIntermediaire in listeIntermediaire" value="{{lIntermediaire.IT_CODEINTERMEDIAIRE}}">{{lIntermediaire.IT_DENOMMINATION}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Effet*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-calendar text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_Effet" placeholder="Entrer un effet" ng-model="FormAddHabitat.effet"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label>Echéance*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-calendar text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_Echeance" placeholder="Entrer une écheance" ng-model="FormAddHabitat.echeance"/>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <label>Durée en mois*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-clock text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_dureeEnMois" ng-model="FormAddHabitat.dureeEnMois">
                                                            <option value="">Sélectionner une durée</option>
                                                            <option ng-repeat="lalisteDesDureeHabitat in listeDesDureeHabitat" value="{{lalisteDesDureeHabitat.DU_CODEDUREE}}">{{lalisteDesDureeHabitat.DU_LIBELLEDUREE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Type d'affaire*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-briefcase text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_typeAffaire" ng-model="FormAddHabitat.typeAffaire">
                                                            <option value="">Sélectionner un type d'affaire</option>
                                                            <option ng-repeat="leTypeAffaire in listeTypeAffaireHabitat" value="{{leTypeAffaire.TA_CODETYPEAFFAIRES}}">{{leTypeAffaire.TA_LIBLLETYPEAFFAIRES}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-3">
                                                    <label>Pays*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-globe-africa text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_Pays" ng-model="FormAddHabitat.pays" ng-change="afficheListeVille()">
                                                            <option value="">Sélectionner un pays</option>
                                                            <option ng-repeat="lePays in listePaysHabitat" value="{{lePays.PY_CODEPAYS}}">{{lePays.PY_LIBELLE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Ville*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-map-marker-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_Ville" ng-model="FormAddHabitat.ville" ng-change="afficheListeCommune()">
                                                            <option value="">Sélectionner une ville</option>
                                                            <option ng-repeat="laVille in listeVillesHabitat" value="{{laVille.VL_CODEVILLE}}">{{laVille.VL_LIBELLE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Commune*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-map-pin text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_Commune" ng-model="FormAddHabitat.commune">
                                                            <option value="">Sélectionner une commune</option>
                                                            <option ng-repeat="laCommune in listeCommunesHabitat" value="{{laCommune.CO_CODECOMMUNE}}">{{laCommune.CO_LIBELLE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Situation géographique*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-map text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_Situation_géographique" placeholder="Entrer une situation géograpgique" ng-model="FormAddHabitat.situationGeo"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-3">
                                                    <label>Type d'appartement*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-hotel text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_typeAppartement" ng-model="FormAddHabitat.typeAppartement" ng-init="afficheListeTypeAppartement()">
                                                            <option value="">Sélectionner un type</option>
                                                            <option ng-repeat="leTypeAppartement in listeTypeAppartement" value="{{leTypeAppartement.AP_CODETYPEAPPARTEMENT}}">{{leTypeAppartement.AP_LIBLLETYPEAPPARTEMENT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Nombre de pièce*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-sort-numeric-down text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_nombreDePiece" placeholder="Entrer un nombre de pièce" ng-model="FormAddHabitat.nombrePiece"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Superficie*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-ruler-combined text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_superficie" placeholder="Entrer une superficie" ng-model="FormAddHabitat.Superficie"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Loyer mensuel*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-wallet text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_loyerMensuel" placeholder="Entrer un loyer" ng-model="FormAddHabitat.loyerMensuel"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-3">
                                                    <label>Occupant*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-house-user text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_occupant" ng-model="FormAddHabitat.typeOccupant">
                                                            <option value="">Sélectionner un occupant</option>
                                                            <option ng-repeat="leTypeOccupant in listeTypeOccupant" value="{{leTypeOccupant.OC_CODETYPEOCCUPANT}}">{{leTypeOccupant.OC_LIBLLETYPEOCCUPANT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Assureur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-user-cog text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addHabitat_Assureur" ng-model="FormAddHabitat.assureur">
                                                            <option value="">Sélectionner un assureur</option>
                                                            <option ng-repeat="lAssureur in listeAssureursHabitat" value="{{lAssureur.TI_IDTIERS}}">{{lAssureur.TI_DENOMINATION}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Interlocuteur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-assistive-listening-systems text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_interlocuteur" placeholder="Entrer un interlocuteur" ng-model="FormAddHabitat.interlocuteur"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Téléphone interlocuteur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-phone-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addHabitat_telephoneInterlocuteur" placeholder="Entrer un n° de téléphone" ng-model="FormAddHabitat.telInterlocuteur"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--begin: Datatable-->
                                @*<div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead style="text-align: center">
                                                <tr>
                                                    <th>RISQUE</th>
                                                    <th>VALEURS</th>
                                                    <th>TAUX </th>
                                                    <th>PRIMES</th>
                                                    <th>LIBELLE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tbody>
                                                <tr ng-repeat="prime in tabPrimesHabitat">
                                                    <td><input type="text" name="" class="form-control" placeholder="" ng-model="prime.RQ_LIBELLERISQUE"></td>
                                                    <td><input type="text" name="" class="form-control" placeholder="" ng-model="prime.CG_PRIMES"></td>
                                                    <td><input type="text" name="" class="form-control" placeholder="" ng-model="prime.CG_TAUX"></td>
                                                    <td><input type="text" name="" class="form-control" placeholder="" ng-model="prime.CG_PRIMES"></td>
                                                    <td><input type="text" name="" class="form-control" placeholder="" ng-model="prime.RE_LIBELLERESUME"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>*@
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                    <div class="col-lg-12"><!--tableau primes-->
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead style="text-align: center">
                                                <tr>
                                                    <th>LIBELLE</th>
                                                    <th>VALEUR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="prime in tabPrimesHabitat">
                                                    <td>{{prime.RE_LIBELLERESUME}}</td>
                                                    <td><input type="text" name="" class="form-control" placeholder="" ng-model="prime.CP_VALEUR" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <!--end: Datatable-->
                                <div class="row">
                                    <div class="col-12 ">
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead style="text-align: center">
                                                <tr>
                                                    <th>LIBELLE SOUS CATEGORIES</th>
                                                    <th>EVENEMENTS ASSURES</th>
                                                    <th>VALEURS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="garentie in tabGarentiesHabitat">
                                                    <td>{{garentie.SC_LIBELLESOUSCATEGORIE}}</td>
                                                    <td>{{garentie.GA_LIBELLEGARANTIE}}</td>
                                                    <td><input type="text" name="" class="form-control" placeholder="" ng-model="garentie.CG_PRIMES" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-shadow-hover font-weight-bold"  ng-click="ajoutFormAddHabitat(FormAddHabitat.effet, FormAddHabitat.echeance)">
                                    <span>
                                        <i class="far fa-check-circle"></i>
                                        <span>Enregistrer</span>
                                    </span>
                                </button>
                                <button type="submit" class="btn btn-light-success font-weight-bold" ng-click="resetFormAddHabitat()">
                                    <span>
                                        <i class="fas fa-undo"></i>
                                        <span>Réinitialiser</span>
                                    </span>
                                </button>
                                <a href="ListeHabitat" class="btn btn-icon btn-light-dark mr-2" data-toggle="tooltip" data-theme="dark" title="Retour" style="position: absolute; right: 27px">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
    <!--begin modal pour choix du code souscripteur-->
    <div class="modal fade" id="modalCodeSouscripteur" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeSouscripteur" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeSouscripteur" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - souscripteur
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesSouscripteurs in listeDesSouscripteurs">
                                <td>{{lesSouscripteurs.TI_NUMTIERS}}</td>
                                <td>{{lesSouscripteurs.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="choixSouscripteur(lesSouscripteurs.TI_NUMTIERS, lesSouscripteurs.TI_DENOMINATION, lesSouscripteurs.TI_IDTIERS, lesSouscripteurs.TI_ADRESSEGEOGRAPHIQUE)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
     <!--end modal pour choix du code souscripteur-->
    <!--begin modal pour choix du code commercial-->
    <div class="modal fade" id="modalCodeCommercial" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeCommercial" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeCommercial" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - commercial
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesCommerciaux in listeDesCommerciaux">
                                <td>{{lesCommerciaux.TI_NUMTIERS}}</td>
                                <td>{{lesCommerciaux.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="choixCommercial(lesCommerciaux.TI_NUMTIERS, lesCommerciaux.TI_DENOMINATION, lesCommerciaux.TI_IDTIERS)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
</div>
<!--end::Content-->
