@{
    ViewBag.Title = "Modification Voyage";
    Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}


<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="VoyageController" ng-init="initFormAddModifVoyage()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background-color: beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">ASSURANCE</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Liste</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Modification</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Voyage</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header" style="background-color: #718E3E;">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-plane-departure text-white icon-xl"></i>
                                </span>
                                <h3 class="card-title text-white" style="font-size: 30px; font-family: Maiandra GD">Voyage</h3>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form" id="formAddVoyage" ng-init="contrainteFormAddVoyage()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATION SUR LE SOUSCRIPTEUR</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addVoyage_Code01" placeholder="Entrer un code" ng-model="recuperer.TI_NUMTIERS" ng-disabled="fondgri"/>
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeSouscripteur" ng-click="afficheListeTiersSouscripteur()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Dénomination*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addVoyage_Dénomination01" placeholder="Entrer une Dénomination" ng-model="recuperer.TI_DENOMINATION" ng-disabled="fondgri"/>
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeSouscripteur" ng-click="afficheListeTiersSouscripteur()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE COMMERCIAL</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addVoyage_Code02" placeholder="Entrer un code" ng-model="recuperer.TI_NUMTIERSCOMMERCIAL" ng-disabled="verou"/>
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Dénomination*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addVoyage_Dénomination02" placeholder="Entrer une Dénomination" ng-model="recuperer.TI_DENOMINATIONCOMMERCIAL" ng-disabled="verou"/>
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><strong>INFORMATIONS GENERALES</strong></h3>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>N° police/ N.C*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fab fa-orcid text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addVoyage_N_Police" placeholder="Entrer un n°" ng-model="recuperer.CA_NUMPOLICE" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Intermédiaire*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-people-arrows text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addVoyage_Intermediaire" ng-model="recuperer.IT_CODEINTERMEDIAIRE">
                                                            <option value="">Sélectionner un intermédiaire</option>
                                                            <option ng-repeat="lIntermediaire in listeIntermediaire" ng-selected="recuperer.IT_CODEINTERMEDIAIRE == lIntermediaire.IT_CODEINTERMEDIAIRE" value="{{lIntermediaire.IT_CODEINTERMEDIAIRE}}">{{lIntermediaire.IT_DENOMMINATION}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Effet*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addVoyage_Effet" placeholder="Entrer un effet" ng-model="recuperer.CA_DATEEFFET" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Echéance*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addVoyage_Echeance" placeholder="Entrer une écheance" ng-model="recuperer.CA_DATEECHEANCE" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Zone*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="flaticon2-map text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addVoyage_Zone" ng-model="recuperer.ZM_CODEZONEVOYAGE">
                                                            <option value="">Sélectionner une zone</option>
                                                            <option ng-repeat="laZone in listeZone" ng-selected="recuperer.ZM_CODEZONEVOYAGE == laZone.ZM_CODEZONEVOYAGE" value="{{laZone.ZM_CODEZONEVOYAGE}}">{{laZone.ZM_NOMZONEVOYAGE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Durée*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-clock text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addVoyage_Duree" ng-model="recuperer.DU_CODEDUREE">
                                                            <option value="">Sélectionner une durée</option>
                                                            <option ng-repeat="laDuree in listeDuree" ng-selected="recuperer.DU_CODEDUREE == laDuree.DU_CODEDUREE" value="{{laDuree.DU_CODEDUREE}}">{{laDuree.DU_LIBELLEDUREE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Type de tarification*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-donate text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addVoyage_typeDeTarification" ng-model="recuperer.TA_CODETARIF">
                                                            <option value="">Sélectionner un type</option>
                                                            <option ng-repeat="leTypeDeTarification in listeTypeDeTarification"  ng-selected="recuperer.TA_CODETARIF == leTypeDeTarification.TA_CODETARIF" value="{{leTypeDeTarification.TA_CODETARIF}}">{{leTypeDeTarification.TA_LIBELLETARIF}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Assureur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-user-cog text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addVoyage_Assureur" ng-model="recuperer.TI_IDTIERSASSUREUR">
                                                            <option value="">Sélectionner un assureur</option>
                                                            <option ng-repeat="lAssureur in listeAssureur" ng-selected="recuperer.TI_IDTIERSASSUREUR == lAssureur.TI_IDTIERS" value="{{lAssureur.TI_IDTIERS}}">{{lAssureur.TI_DENOMINATION}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label>Interlocuteur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-assistive-listening-systems text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addVoyage_interlocuteur" placeholder="Entrer un interlocuteur" ng-model="recuperer.CA_NOMINTERLOCUTEUR" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Téléphone interlocuteur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-phone-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addVoyage_telephoneInterlocuteur" placeholder="Entrer un n° de téléphone" ng-model="recuperer.CA_CONTACTINTERLOCUTEUR" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Type d'affaire*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-briefcase text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addVoyage_TypeAffaire" ng-init="afficheListeTypeAffaire()" ng-model="recuperer.TA_CODETYPEAFFAIRES">
                                                            <option value="">Sélectionner un type affaire</option>
                                                            <option ng-repeat="leTypeAffaire in listeTypeAffaire" ng-selected="recuperer.TA_CODETYPEAFFAIRES == leTypeAffaire.TA_CODETYPEAFFAIRES" value="{{leTypeAffaire.TA_CODETYPEAFFAIRES}}">{{leTypeAffaire.TA_LIBLLETYPEAFFAIRES}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="separator separator-dashed separator-success my-1"></div><br>
                                            <div class="form-group row">
                                                <div class="col-12 ">
                                                    <table class="table table-bordered table-checkable" id="kt_datatable">
                                                        <thead style="text-align: center">
                                                            <tr>
                                                                <th>LIBELLE</th>
                                                                <th>VALEUR</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody ng-repeat="Reduction in tabReduction">
                                                            <tr>
                                                                <td>{{Reduction.RD_LIBELLEREDUCTION}}</td>
                                                                <td><input type="text" name="" class="form-control" placeholder="" ng-model="FormListReduction.MONTANT[Reduction.RD_LIBELLEREDUCTION]" /></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" id="kt_notify" class="btn btn-primary btn-shadow-hover font-weight-bold" ng-click="modifFormAddVoyage()">
                                    <span>
                                        <i class="far fa-check-circle"></i>
                                        <span>Enregistrer</span>
                                    </span>
                                </button>&#160;
                                @*<button type="submit" class="btn btn-light-success font-weight-bold">
                                    <span>
                                        <i class="fas fa-undo"></i>
                                        <span>Réinitialiser</span>
                                    </span>
                                </button>*@
                                <a href="ListeVoyage" class="btn btn-icon btn-light-dark mr-2" data-toggle="tooltip" data-theme="dark" title="Retour" style="position: absolute; right: 27px">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

    <!--begin modal pour choix du code souscripteur-->
    <div class="modal fade" id="modalCodeSouscripteur" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeSouscripteur" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeSouscripteur" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - souscripteur
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesSouscripteurs in listeDesSouscripteurs">
                                <td>{{lesSouscripteurs.TI_NUMTIERS}}</td>
                                <td>{{lesSouscripteurs.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="choixSouscripteurmodif(lesSouscripteurs.TI_NUMTIERS, lesSouscripteurs.TI_DENOMINATION, lesSouscripteurs.TI_IDTIERS)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
    <!--begin modal pour choix du code commercial-->
    <div class="modal fade" id="modalCodeCommercial" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeCommercial" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeCommercial" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - commercial
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesCommerciaux in listeDesCommerciaux">
                                <td>{{lesCommerciaux.TI_NUMTIERS}}</td>
                                <td>{{lesCommerciaux.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="choixCommercialmodif(lesCommerciaux.TI_NUMTIERS, lesCommerciaux.TI_DENOMINATION, lesCommerciaux.TI_IDTIERS)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->

</div>
<!--end::Content-->
