@{
ViewBag.Title = "Enregistrement individuel accident";
Layout = "~/Views/Shared/_LayoutMenuGestion.cshtml";
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="IndividuelAccidentController" ng-init="initModifFormAddIndivAccident()">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader" style="background-color: beige">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">ASSURANCE</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Liste</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Modification</a>
                        </li>

                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Individuel accident</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header" style="background-color: #718E3E;">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="fas fa-car-crash text-white icon-xl"></i>
                                </span>
                                <h3 class="card-title text-white" style="font-size: 30px; font-family: Maiandra GD">Individuel accident</h3>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form" id="formAddIndivAccident">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE SOUSCRIPTEUR</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_Code1" placeholder="Entrer un code" ng-model="recupererInfo.TI_NUMTIERS" ng-disabled="isDisabled1" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeSouscripteur" ng-click="afficheListeTiersSouscripteur()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Nom assuré*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-address-card text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_NomAssure1" placeholder="Entrer un nom" ng-model="recupererInfo.TI_DENOMINATION" ng-disabled="isDisabled1" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeSouscripteur" ng-click="afficheListeTiersSouscripteur()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Adresse*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fab fa-periscope text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_Adresse" placeholder="Entrer une adresse" ng-model="FormAddIndivAccident.infoSouscripteur.adresse" ng-disabled="isDisabled1" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Date de naissance*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-calendar text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_DateDeNaissance" placeholder="Entrer une date" ng-model="FormAddIndivAccident.infoSouscripteur.date" ng-disabled="isDisabled1" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Lieu de naissance*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-marker-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_LieuDeNaissance" placeholder="Entrer un lieu de naissance" ng-model="FormAddIndivAccident.infoSouscripteur.lieuNaissance" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <label>Main forte*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-sign-language text-info"></i>
                                                                </span>
                                                            </div>
                                                            <select class="form-control" name="addIA_MainForte" ng-model="FormAddIndivAccident.infoSouscripteur.mainForte">
                                                                <option value="">Sélectionner une main forte</option>
                                                                <option ng-repeat="laMainForte in listeMainForte" value="{{laMainForte.MF_CODEMAINFORTE}}">{{laMainForte.MF_LIBLLEMAINFORTE}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-6">
                                                        <label>Profession*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-chalkboard-teacher text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_Profession" placeholder="Entrer une profession" ng-model="FormAddIndivAccident.infoSouscripteur.profession" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label>Sport*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-running text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_Sport" placeholder="Entrer un sport" ng-model="FormAddIndivAccident.infoSouscripteur.sport" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE COMMERCIAL</strong></h3>
                                            <div class="mb-2">
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
                                                        <label>Code*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-key text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_Code2" placeholder="Entrer un code" ng-model="recupererInfo.TI_NUMTIERSCOMMERCIAL" ng-disabled="isDisabled2" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <label>Dénomination*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-user-alt text-info"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="addIA_Denomination" placeholder="Entrer une Dénomination" ng-model="recupererInfo.TI_DENOMINATIONCOMMERCIAL" ng-disabled="isDisabled2" />
                                                            <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                                <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeCommercial" ng-click="afficheListeTiersCommercial()">
                                                                    <i class="fas fa-ellipsis-h text-info"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS GENERALES</strong></h3>
                                            <div class="form-group row">
                                                <div class="col-lg-3">
                                                    <label>N° police/ N.C*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fab fa-orcid text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_NumPolice" placeholder="Entrer un n°" ng-model="recupererInfo.CA_NUMPOLICE" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Intermédiaire*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-people-arrows text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addIA_Intermediaire" ng-model="recupererInfo.IT_CODEINTERMEDIAIRE">
                                                            <option value="">Sélectionnez un intermédiaire</option>
                                                            <option ng-repeat="lIntermediaire in listeDesIntermediaires" ng-selected="recupererInfo.IT_CODEINTERMEDIAIRE == lIntermediaire.IT_CODEINTERMEDIAIRE" value="{{lIntermediaire.IT_CODEINTERMEDIAIRE}}">{{lIntermediaire.IT_DENOMMINATION}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Effet*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_Effet" placeholder="Entrer une date" ng-model="recupererInfo.CA_DATEEFFET" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Echéance*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-calendar-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_Echeance" placeholder="Entrer une date" ng-model="recupererInfo.CA_DATEECHEANCE" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-3">
                                                    <label>Pays*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-globe-africa text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" id="idPaysModif" name="addIA_Pays" ng-model="recupererInfo.PY_CODEPAYS">
                                                            <option value="">Sélectionner un pays</option>
                                                            <option ng-repeat="lePays in listeDesPays" ng-selected="recupererInfo.PY_CODEPAYS == lePays.PY_CODEPAYS" value="{{lePays.PY_CODEPAYS}}">{{lePays.PY_LIBELLE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Ville*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-map-marker-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" id="idVilleModif" name="addIA_Ville" ng-model="recupererInfo.VL_CODEVILLE">
                                                            <option value="">Sélectionner une ville</option>
                                                            <option ng-repeat="laVille in modifListeVille" ng-selected="recupererInfo.VL_CODEVILLE == laVille.VL_CODEVILLE" value="{{laVille.VL_CODEVILLE}}">{{laVille.VL_LIBELLE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Commune*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-map-pin text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addIA_Commune" ng-model="recupererInfo.CO_CODECOMMUNE">
                                                            <option value="">Sélectionner une commune</option>
                                                            <option ng-repeat="laCommune in modifListeCommune" ng-selected="recupererInfo.CO_CODECOMMUNE == laCommune.CO_CODECOMMUNE" value="{{laCommune.CO_CODECOMMUNE}}">{{laCommune.CO_LIBELLE}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Situation géographique*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-map text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_SituationGeo" placeholder="Entrer une situation géograpgique" ng-model="recupererInfo.CA_SITUATIONGEOGRAPHIQUE" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Durée en mois*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="far fa-clock text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_DureeMois" placeholder="Entrer une durée" ng-model="FormAddIndivAccident.infoGenerale.dureeEnMois" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Nombres assurés*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-tasks text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_NombreAssure" placeholder="Entrer un nombre d'assurés" ng-model="FormAddIndivAccident.infoGenerale.nombreAssure" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-3">
                                                    <label>Assureur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-user-cog text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addIA_Assureur" ng-model="recupererInfo.TI_IDTIERSASSUREUR">
                                                            <option value="">Sélectionner un assureur</option>
                                                            <option ng-repeat="lAssureur in listeDesAssureurs" ng-selected="recupererInfo.TI_IDTIERSASSUREUR == lAssureur.TI_IDTIERS" value="{{lAssureur.TI_IDTIERS}}">{{lAssureur.TI_DENOMINATION}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Interlocuteur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-assistive-listening-systems text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_Interlocuteur" placeholder="Entrer un interlocuteur" ng-model="recupererInfo.CA_NOMINTERLOCUTEUR" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Téléphone interlocuteur*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-phone-alt text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_TelInterlocuteur" placeholder="Entrer un n° de téléphone" ng-model="recupererInfo.CA_CONTACTINTERLOCUTEUR" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>Type d'affaire*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-briefcase text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addMP_TypeAffaire" ng-model="recupererInfo.TA_CODETYPEAFFAIRES">
                                                            <option value="">Sélectionner un type</option>
                                                            <option ng-repeat="leTypeAffaire in listeTypeAffaire" ng-selected="recupererInfo.TA_CODETYPEAFFAIRES == leTypeAffaire.TA_CODETYPEAFFAIRES" value="{{leTypeAffaire.TA_CODETYPEAFFAIRES}}">{{leTypeAffaire.TA_LIBLLETYPEAFFAIRES}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-7"><strong>INFORMATIONS SUR LE BENEFICIAIRE</strong></h3>
                                            <div class="form-group row">
                                                <div class="col-lg-4">
                                                    <label>Code*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-key text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_Code3" placeholder="Entrer un code" ng-model="recupererInfo.clsCtcontratayantdroits[0].TI_NUMTIERSAYANTDROIT" ng-disabled="isDisabled3" />
                                                        <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                            <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeBeneficiaire" ng-click="afficheListeTiersSouscripteur()">
                                                                <i class="fas fa-ellipsis-h text-info"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Nom assuré*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-address-card text-info"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control" name="addIA_NomAssure2" placeholder="Entrer un nom" ng-model="recupererInfo.clsCtcontratayantdroits[0].TI_DENOMINATIONAYANTDROIT" ng-disabled="isDisabled3" />
                                                        <div class="input-group-append" data-toggle="tooltip" data-theme="dark" title="Choix du code">
                                                            <button type="button" class="btn btn-secondary btn-secondary--icon" id="kt_reset" data-toggle="modal" data-target="#modalCodeBeneficiaire" ng-click="afficheListeTiersSouscripteur()">
                                                                <i class="fas fa-ellipsis-h text-info"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label>Titre bénéficiaire*</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-user-edit text-info"></i>
                                                            </span>
                                                        </div>
                                                        <select class="form-control" name="addIA_TitreBenef" ng-model="recupererInfo.clsCtcontratayantdroits[0].TA_LIBELLETITREAYANTDROIT">
                                                            <option value="">Sélectionner un titre</option>
                                                            <option ng-repeat="leTitreBenef in listeTitreBeneficiaire" ng-selected="recupererInfo.clsCtcontratayantdroits[0].TA_LIBELLETITREAYANTDROIT == leTitreBenef.TA_LIBELLETITREAYANTDROIT" value="{{leTitreBenef.TA_LIBELLETITREAYANTDROIT}}">{{leTitreBenef.TA_LIBELLETITREAYANTDROIT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <button type="button" class="btn btn-hover-bg-success btn-text-dark btn-hover-text-white border-0 font-weight-bold" ng-click="ajoutDansTabBeneficiaireModif(recupererInfo.clsCtcontratayantdroits[0].TI_DENOMINATIONAYANTDROIT, recupererInfo.clsCtcontratayantdroits[0].TA_LIBELLETITREAYANTDROIT)">
                                                    <span>
                                                        <i class="fas fa-arrow-down text-dark"></i>
                                                        <span>Ajouter</span>
                                                    </span>
                                                </button>
                                                <button class="btn btn-outline-warning" id="kt_reset">
                                                    <span>
                                                        <i class="la la-close"></i>
                                                        <span>Annuler</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>&#160;
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead style="text-align: center">
                                                <tr>
                                                    <th>NOM BENEFICIAIRE</th>
                                                    <th>TITRE BENEFICIAIRE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="leBeneficiaire in tabBeneficiaire">
                                                    <td>{{leBeneficiaire.nomDuBenef}}</td>
                                                    <td>{{leBeneficiaire.titreDuBenef}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="separator separator-dashed separator-success my-1"></div><br>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead style="text-align: center">
                                                <tr>
                                                    <th>GARANTIE</th>
                                                    <th>CAPITAUX ASSURES</th>
                                                    <th>TAUX</th>
                                                    <th>PRIMES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="laGarentie in tabGarenties">
                                                    <td>
                                                        {{laGarentie.GA_LIBELLEGARANTIE}}
                                                    </td>
                                                    <td>
                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="laGarentie.CG_CAPITAUXASSURES" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="laGarentie.CG_TAUX" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="laGarentie.CG_PRIMES" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6">
                                        <table class="table table-bordered table-checkable" id="kt_datatable">
                                            <thead style="text-align: center">
                                                <tr>
                                                    <th>LIBELLE</th>
                                                    <th>VALEUR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="laPrime in tabPrimes">
                                                    <td>{{laPrime.RE_LIBELLERESUME}}</td>
                                                    <td>
                                                        <input type="text" name="" class="form-control" placeholder="" ng-model="laPrime.CG_PRIMES" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end: Datatable-->
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-shadow-hover font-weight-bold" ng-click="modifFormAddIndivAccident(recupererInfo.CA_DATEEFFET, recupererInfo.CA_DATEECHEANCE)">
                                    <span>
                                        <i class="far fa-check-circle"></i>
                                        <span>Enregistrer</span>
                                    </span>
                                </button>&#160;&#160;
                                <a href="ListeIndividuelAccident" class="btn btn-icon btn-light-dark mr-2" data-toggle="tooltip" data-theme="dark" title="Retour" style="position: absolute; right: 27px">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

    <!--begin modal pour choix du code souscripteur-->
    <div class="modal fade" id="modalCodeSouscripteur" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeSouscripteur" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeSouscripteur" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - souscripteur
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesSouscripteurs in listeDesSouscripteurs">
                                <td>{{lesSouscripteurs.TI_NUMTIERS}}</td>
                                <td>{{lesSouscripteurs.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="modifChoixSouscripteur(lesSouscripteurs.TI_NUMTIERS, lesSouscripteurs.TI_DENOMINATION, lesSouscripteurs.TI_IDTIERS, lesSouscripteurs.TI_ADRESSEGEOGRAPHIQUE, lesSouscripteurs.TI_DATENAISSANCE)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
    <!--begin modal pour choix du code commercial-->
    <div class="modal fade" id="modalCodeCommercial" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeCommercial" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeCommercial" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - commercial
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesCommerciaux in listeDesCommerciaux">
                                <td>{{lesCommerciaux.TI_NUMTIERS}}</td>
                                <td>{{lesCommerciaux.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="modifChoixCommercial(lesCommerciaux.TI_NUMTIERS, lesCommerciaux.TI_DENOMINATION, lesCommerciaux.TI_IDTIERS)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
    <!--begin modal pour choix du code beneficiaire-->
    <div class="modal fade" id="modalCodeBeneficiaire" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCodeBeneficiaire" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #718E3E;">
                    <h5 class="modal-title text-white" id="modalCodeBeneficiaire" style="font-size: 23px; font-family: Maiandra GD">
                        <i class="fas fa-ellipsis-h text-white"></i>
                        Liste des tiers - bénéficiaire
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close text-white"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-checkable" id="kt_datatable">
                        <thead style="text-align: center">
                            <tr>
                                <th>N° TIERS</th>
                                <th>DENOMINATION</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lesSouscripteurs in listeDesSouscripteurs">
                                <td>{{lesSouscripteurs.TI_NUMTIERS}}</td>
                                <td>{{lesSouscripteurs.TI_DENOMINATION}}</td>
                                <td style="text-align: center">
                                    <!--bouton voir plus-->
                                    <button type="button" class="btn btn-outline-secondary btn-icon" data-toggle="tooltip" data-theme="dark" title="Choisir" ng-click="modifChoixSouscripteurBenef(lesSouscripteurs.TI_NUMTIERS, lesSouscripteurs.TI_DENOMINATION, lesSouscripteurs.TI_IDTIERS)" data-dismiss="modal">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">
                        <span>
                            <i class="la la-close"></i>
                            <span>Fermer</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->

</div>
<!--end::Content-->
